In [1]:
import pandas as pd
import sqlite3
from IPython.display import display

# connect to your DB file
conn = sqlite3.connect("inventory.db")

# get list of tables (excluding SQLite internals)
tables = pd.read_sql_query(
    "SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%' ORDER BY name;",
    conn
)
display(tables)

# loop: print a header, row count, and preview 5 rows for each table
for table in tables["name"]:
    print(f"\n{' ' + table + ' ':=^90}")  # ===== purchases ===== style header
    cnt = pd.read_sql_query(f'SELECT COUNT(*) AS count FROM "{table}";', conn)["count"].values[0]
    print("Count of records:", cnt)
    display(pd.read_sql_query(f'SELECT * FROM "{table}" LIMIT 5;', conn))

              name
0  begin_inventory
1    end_inventory
2  purchase_prices
3        purchases
4            sales
5   vendor_invoice

==================================== begin_inventory =====================================
Count of records: 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

===================================== end_inventory ======================================
Count of records: 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

==================================== purchase_prices =====================================
Count of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

======================================= purchases ========================================
Count of records: 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

========================================= sales ==========================================
Count of records: 12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

===================================== vendor_invoice =====================================
Count of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

In [4]:
import pandas as pd
import sqlite3
import logging, os
from IPython.display import display

# fresh logger for EDA run (separate file from ingestion)
os.makedirs("logs", exist_ok=True)
logging.basicConfig(
    filename="logs/get_vendor_summary.log",
    level=logging.INFO,
    format="%(asctime)s | %(levelname)s | %(message)s",
    filemode="a",
    force=True,
)
logging.info("=== EDA run started ===")

conn = sqlite3.connect("inventory.db")

# quick table check
tables = pd.read_sql_query("""
  SELECT name
  FROM sqlite_master
  WHERE type='table' AND name NOT LIKE 'sqlite_%'
  ORDER BY name;
""", conn)
display(tables)

              name
0  begin_inventory
1    end_inventory
2  purchase_prices
3        purchases
4            sales
5   vendor_invoice

In [5]:
# 1) Freight by vendor
freight_sql = """
SELECT VendorNumber, SUM(Freight) AS FreightCost
FROM vendor_invoice
GROUP BY VendorNumber
"""
freight = pd.read_sql(freight_sql, conn)
logging.info("Freight summary built: %d rows", len(freight))

# 2) Purchases by vendor+brand
# NOTE: Volume & ActualPrice come from purchase_prices (alias pp).
purch_sql = """
SELECT
  p.VendorNumber,
  p.VendorName,
  p.Brand,
  p.Description,
  p.PurchasePrice,
  pp.Price  AS ActualPrice,
  pp.Volume,
  SUM(p.Quantity) AS TotalPurchaseQuantity,
  SUM(p.Dollars)  AS TotalPurchaseDollars
FROM purchases p
JOIN purchase_prices pp
  ON p.VendorNumber = pp.VendorNo
 AND p.Brand        = pp.Brand
WHERE p.PurchasePrice > 0
GROUP BY
  p.VendorNumber, p.VendorName, p.Brand, p.Description,
  p.PurchasePrice, pp.Price, pp.Volume
"""
purchases = pd.read_sql(purch_sql, conn)
logging.info("Purchase summary built: %d rows", len(purchases))

# 3) Sales by vendor+brand
sales_sql = """
SELECT
  VendorNo   AS VendorNumber,
  Brand,
  SUM(SalesQuantity) AS TotalSalesQuantity,
  SUM(SalesDollars)  AS TotalSalesDollars,
  SUM(SalesPrice)    AS TotalSalesPrice,
  SUM(ExciseTax)     AS TotalExciseTax
FROM sales
GROUP BY VendorNo, Brand
"""
sales = pd.read_sql(sales_sql, conn)
logging.info("Sales summary built: %d rows", len(sales))

# 4) Merge to one summary
summary = (purchases
           .merge(sales,   on=["VendorNumber","Brand"], how="left")
           .merge(freight, on=["VendorNumber"],         how="left"))

# Clean basics
for c in ["VendorName","Brand","Description"]:
    if c in summary.columns:
        summary[c] = summary[c].astype(str).str.strip()

# force numeric; replace inf with NA then 0
num_cols = [c for c in summary.columns if c not in ["VendorNumber","VendorName","Brand","Description"]]
summary[num_cols] = summary[num_cols].apply(pd.to_numeric, errors="coerce")
summary = summary.replace([pd.NA, float("inf"), -float("inf")], pd.NA).fillna(0)

logging.info("Merged summary shape: %s", summary.shape)
display(summary.head())

DatabaseError: Execution failed on sql '
SELECT
  p.VendorNumber,
  p.VendorName,
  p.Brand,
  p.Description,
  p.PurchasePrice,
  pp.Price  AS ActualPrice,
  pp.Volume,
  SUM(p.Quantity) AS TotalPurchaseQuantity,
  SUM(p.Dollars)  AS TotalPurchaseDollars
FROM purchases p
JOIN purchase_prices pp
  ON p.VendorNumber = pp.VendorNo
 AND p.Brand        = pp.Brand
WHERE p.PurchasePrice > 0
GROUP BY
  p.VendorNumber, p.VendorName, p.Brand, p.Description,
  p.PurchasePrice, pp.Price, pp.Volume
': no such column: pp.VendorNo

In [6]:
import pandas as pd

for t in ["purchases","purchase_prices","sales","vendor_invoice"]:
    print(f"\n== {t} ==")
    display(pd.read_sql(f"PRAGMA table_info({t});", conn))

== purchases ==

    cid            name    type  notnull dflt_value  pk
0     0     InventoryId    TEXT        0       None   0
1     1           Store  BIGINT        0       None   0
2     2           Brand  BIGINT        0       None   0
3     3     Description    TEXT        0       None   0
4     4            Size    TEXT        0       None   0
5     5    VendorNumber  BIGINT        0       None   0
6     6      VendorName    TEXT        0       None   0
7     7        PONumber  BIGINT        0       None   0
8     8          PODate    TEXT        0       None   0
9     9   ReceivingDate    TEXT        0       None   0
10   10     InvoiceDate    TEXT        0       None   0
11   11         PayDate    TEXT        0       None   0
12   12   PurchasePrice   FLOAT        0       None   0
13   13        Quantity  BIGINT        0       None   0
14   14         Dollars   FLOAT        0       None   0
15   15  Classification  BIGINT        0       None   0

== purchase_prices ==

   cid            name    type  notnull dflt_value  pk
0    0           Brand  BIGINT        0       None   0
1    1     Description    TEXT        0       None   0
2    2           Price   FLOAT        0       None   0
3    3            Size    TEXT        0       None   0
4    4          Volume    TEXT        0       None   0
5    5  Classification  BIGINT        0       None   0
6    6   PurchasePrice   FLOAT        0       None   0
7    7    VendorNumber  BIGINT        0       None   0
8    8      VendorName    TEXT        0       None   0

== sales ==

    cid            name    type  notnull dflt_value  pk
0     0     InventoryId    TEXT        0       None   0
1     1           Store  BIGINT        0       None   0
2     2           Brand  BIGINT        0       None   0
3     3     Description    TEXT        0       None   0
4     4            Size    TEXT        0       None   0
5     5   SalesQuantity  BIGINT        0       None   0
6     6    SalesDollars   FLOAT        0       None   0
7     7      SalesPrice   FLOAT        0       None   0
8     8       SalesDate    TEXT        0       None   0
9     9          Volume   FLOAT        0       None   0
10   10  Classification  BIGINT        0       None   0
11   11       ExciseTax   FLOAT        0       None   0
12   12        VendorNo  BIGINT        0       None   0
13   13      VendorName    TEXT        0       None   0

== vendor_invoice ==

   cid          name    type  notnull dflt_value  pk
0    0  VendorNumber  BIGINT        0       None   0
1    1    VendorName    TEXT        0       None   0
2    2   InvoiceDate    TEXT        0       None   0
3    3      PONumber  BIGINT        0       None   0
4    4        PODate    TEXT        0       None   0
5    5       PayDate    TEXT        0       None   0
6    6      Quantity  BIGINT        0       None   0
7    7       Dollars   FLOAT        0       None   0
8    8       Freight   FLOAT        0       None   0
9    9      Approval    TEXT        0       None   0

In [1]:
import pandas as pd, sqlite3, time
from pathlib import Path

# connect to your SQLite file
conn = sqlite3.connect("inventory.db")

# light performance knobs (safe to keep)
conn.execute("PRAGMA journal_mode=WAL;")
conn.execute("PRAGMA temp_store=MEMORY;")
conn.execute("PRAGMA cache_size=-500000;")  # ~500MB cache in RAM if available

# helpful indexes (re-running is fine)
conn.executescript("""
CREATE INDEX IF NOT EXISTS idx_sales_inventory     ON sales(InventoryId);
CREATE INDEX IF NOT EXISTS idx_purch_inventory     ON purchases(InventoryId);
CREATE INDEX IF NOT EXISTS idx_purch_vendor_brand  ON purchases(VendorNumber, Brand);
CREATE INDEX IF NOT EXISTS idx_pp_vendor_brand     ON purchase_prices(VendorNumber, Brand);
CREATE INDEX IF NOT EXISTS idx_vi_vendor           ON vendor_invoice(VendorNumber);
""")

Path("outputs").mkdir(exist_ok=True)
print("Connected and prepped.")

Connected and prepped.

In [2]:
tables = pd.read_sql(
    "SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%' ORDER BY name;",
    conn
)
display(tables)

for t in tables["name"]:
    n = pd.read_sql(f"SELECT COUNT(*) AS n FROM {t};", conn)["n"].iloc[0]
    print(f"{t:20s} -> {n:,} rows")

              name
0  begin_inventory
1    end_inventory
2  purchase_prices
3        purchases
4            sales
5   vendor_invoice

begin_inventory      -> 206,529 rows
end_inventory        -> 224,489 rows
purchase_prices      -> 12,261 rows
purchases            -> 2,372,474 rows
sales                -> 12,825,363 rows
vendor_invoice       -> 5,543 rows

In [3]:
sql = """
DROP TABLE IF EXISTS vendor_sales_summary;

-- Create table with a CTE: CREATE TABLE ... AS WITH ... SELECT ...
CREATE TABLE vendor_sales_summary AS
WITH
sales_agg AS (
  SELECT p.VendorNumber,
         s.Brand,
         SUM(s.SalesQuantity) AS TotalSalesQuantity,
         SUM(s.SalesDollars)  AS TotalSalesDollars,
         AVG(s.SalesPrice)    AS AvgSalesPrice
  FROM sales s
  JOIN purchases p ON p.InventoryId = s.InventoryId
  GROUP BY p.VendorNumber, s.Brand
),
purch_agg AS (
  SELECT p.VendorNumber,
         p.VendorName,
         p.Brand,
         AVG(pp.PurchasePrice)         AS AvgPurchasePrice,
         AVG(pp.Price)                 AS AvgActualPrice,
         MAX(CAST(pp.Volume AS REAL))  AS Volume
  FROM purchases p
  LEFT JOIN purchase_prices pp
    ON pp.VendorNumber = p.VendorNumber
   AND pp.Brand        = p.Brand
  GROUP BY p.VendorNumber, p.VendorName, p.Brand
),
vi_agg AS (
  SELECT VendorNumber,
         SUM(Quantity) AS TotalPurchaseQuantity,
         SUM(Dollars)  AS TotalPurchaseDollars,
         SUM(Freight)  AS FreightCost
  FROM vendor_invoice
  GROUP BY VendorNumber
)
SELECT
  s.VendorNumber                                   AS VendorNumber,
  COALESCE(TRIM(p.VendorName),'')                  AS VendorName,
  COALESCE(TRIM(s.Brand),'')                       AS Brand,
  COALESCE(p.AvgPurchasePrice,0)                   AS AvgPurchasePrice,
  COALESCE(p.AvgActualPrice,0)                     AS AvgActualPrice,
  COALESCE(p.Volume,0)                             AS Volume,
  COALESCE(s.TotalSalesQuantity,0)                 AS TotalSalesQuantity,
  COALESCE(s.TotalSalesDollars,0)                  AS TotalSalesDollars,
  COALESCE(s.AvgSalesPrice,0)                      AS AvgSalesPrice,
  COALESCE(v.TotalPurchaseQuantity,0)              AS TotalPurchaseQuantity,
  COALESCE(v.TotalPurchaseDollars,0)               AS TotalPurchaseDollars,
  COALESCE(v.FreightCost,0)                        AS FreightCost,

  -- KPIs (in SQL to avoid big pandas ops)
  (COALESCE(s.TotalSalesDollars,0)
   - COALESCE(v.TotalPurchaseDollars,0)
   - COALESCE(v.FreightCost,0))                    AS GrossProfit,

  CASE WHEN COALESCE(s.TotalSalesDollars,0) > 0
       THEN 100.0 * (
              (COALESCE(s.TotalSalesDollars,0)
               - COALESCE(v.TotalPurchaseDollars,0)
               - COALESCE(v.FreightCost,0))
              / COALESCE(s.TotalSalesDollars,0)
            )
       ELSE 0 END                                  AS ProfitMargin,

  CASE WHEN COALESCE(v.TotalPurchaseQuantity,0) > 0
       THEN COALESCE(s.TotalSalesQuantity,0) * 1.0 / v.TotalPurchaseQuantity
       ELSE 0 END                                  AS StockTurnover,

  CASE WHEN COALESCE(v.TotalPurchaseDollars,0) > 0
       THEN COALESCE(s.TotalSalesDollars,0) * 1.0 / v.TotalPurchaseDollars
       ELSE 0 END                                  AS SalesToPurchaseRatio

FROM sales_agg s
LEFT JOIN purch_agg p ON p.VendorNumber = s.VendorNumber AND p.Brand = s.Brand
LEFT JOIN vi_agg v    ON v.VendorNumber = s.VendorNumber
;
"""

t0 = time.time()
conn.executescript(sql)
print("Built vendor_sales_summary in", round((time.time()-t0)/60, 2), "min")

Built vendor_sales_summary in 8.29 min

In [5]:
import pandas as pd, sqlite3
conn = sqlite3.connect("inventory.db")

vs = pd.read_sql("SELECT * FROM vendor_sales_summary;", conn)

print("vendor_sales_summary    rows:", len(vs), " | cols:", len(vs.columns))
display(vs.head(10))                         # quick peek
display(vs.dtypes.to_frame("dtype"))         # column types
display(vs.isna().sum().to_frame("na_cnt"))  # missing values
display(vs.select_dtypes(include="number").describe().T)  # numeric stats only

vendor_sales_summary    rows: 10430  | cols: 16

,VendorNumber,VendorName,Brand,AvgPurchasePrice,AvgActualPrice,Volume,TotalSalesQuantity,TotalSalesDollars,AvgSalesPrice,TotalPurchaseQuantity,TotalPurchaseDollars,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio
0,2,"IRA GOLDMAN AND WILLIAMS, LLP",90085,23.86,36.99,750.0,13,480.87,36.990000,328,5630.88,27.08,-5177.09,-1076.609063,0.039634,0.085399
1,2,"IRA GOLDMAN AND WILLIAMS, LLP",90609,17.00,24.99,162.5,83,2074.17,24.990000,328,5630.88,27.08,-3583.79,-172.781884,0.253049,0.368356
2,60,ADAMBA IMPORTS INTL INC,771,11.44,14.99,750.0,137,2053.63,14.990000,4732,76770.25,367.52,-75084.14,-3656.166885,0.028952,0.026750
3,60,ADAMBA IMPORTS INTL INC,3979,16.27,20.99,1750.0,79412,1351615.88,17.031356,4732,76770.25,367.52,1274478.11,94.292922,16.781910,17.605985
4,105,ALTAMAR BRANDS LLC,2529,23.25,29.99,750.0,24,719.76,29.990000,332,11706.20,62.39,-11048.83,-1535.071413,0.072289,0.061485
5,105,ALTAMAR BRANDS LLC,8412,35.71,49.99,750.0,1346,67286.54,49.990000,332,11706.20,62.39,55517.95,82.509741,4.054217,5.747940
6,200,AMERICAN SPIRITS EXCHANGE,19715,7.53,10.99,750.0,38,417.62,10.990000,132,1205.16,6.19,-793.73,-190.060342,0.287879,0.346527
7,200,AMERICAN SPIRITS EXCHANGE,20789,9.73,14.99,750.0,138,2482.62,17.990000,132,1205.16,6.19,1271.27,51.206790,1.045455,2.059992
8,287,APPOLO VINEYARDS LLC,24921,10.40,15.49,750.0,33,490.17,14.833750,230,2399.70,12.28,-1921.81,-392.070098,0.143478,0.204263
9,287,APPOLO VINEYARDS LLC,24922,10.47,15.49,750.0,40,588.10,15.115000,230,2399.70,12.28,-1823.88,-310.130930,0.173913,0.245072

                         dtype
VendorNumber             int64
VendorName              object
Brand                   object
AvgPurchasePrice       float64
AvgActualPrice         float64
Volume                 float64
TotalSalesQuantity       int64
TotalSalesDollars      float64
AvgSalesPrice          float64
TotalPurchaseQuantity    int64
TotalPurchaseDollars   float64
FreightCost            float64
GrossProfit            float64
ProfitMargin           float64
StockTurnover          float64
SalesToPurchaseRatio   float64

                       na_cnt
VendorNumber                0
VendorName                  0
Brand                       0
AvgPurchasePrice            0
AvgActualPrice              0
Volume                      0
TotalSalesQuantity          0
TotalSalesDollars           0
AvgSalesPrice               0
TotalPurchaseQuantity       0
TotalPurchaseDollars        0
FreightCost                 0
GrossProfit                 0
ProfitMargin                0
StockTurnover               0
SalesToPurchaseRatio        0

,count,mean,std,min,25%,50%,75%,max
VendorNumber,10430.0,1.062340e+04,1.871393e+04,2.000000e+00,3.924000e+03,7.153000e+03,9.552000e+03,2.013590e+05
AvgPurchasePrice,10430.0,2.103374e+01,6.941050e+01,0.000000e+00,6.800000e+00,1.035000e+01,1.904000e+01,3.352930e+03
AvgActualPrice,10430.0,3.082937e+01,9.477543e+01,0.000000e+00,1.099000e+01,1.599000e+01,2.799000e+01,4.559990e+03
Volume,10430.0,8.451359e+02,6.723714e+02,0.000000e+00,7.500000e+02,7.500000e+02,7.500000e+02,2.000000e+04
TotalSalesQuantity,10430.0,1.059293e+05,7.055530e+05,1.000000e+00,3.500000e+01,7.265000e+02,1.744500e+04,2.172521e+07
TotalSalesDollars,10430.0,1.655819e+06,1.428097e+07,1.980000e+00,8.390025e+02,1.297656e+04,2.487889e+05,5.163311e+08
AvgSalesPrice,10430.0,3.057778e+01,9.521010e+01,4.900000e-01,1.049000e+01,1.548687e+01,2.750392e+01,4.696990e+03
TotalPurchaseQuantity,10430.0,1.271166e+06,1.235872e+06,1.000000e+00,3.525260e+05,1.077527e+06,1.858260e+06,5.459788e+06
TotalPurchaseDollars,10430.0,1.208288e+07,1.195872e+07,1.700000e+01,2.857168e+06,1.093582e+07,1.557392e+07,5.095980e+07
FreightCost,10430.0,6.189450e+04,6.117551e+04,9.000000e-02,1.426155e+04,5.555182e+04,7.952899e+04,2.570321e+05
GrossProfit,10430.0,-1.048896e+07,1.775340e+07,-5.121682e+07,-1.561574e+07,-8.482842e+06,-1.897755e+06,4.937011e+08
ProfitMargin,10430.0,-2.990237e+06,2.253495e+07,-1.286855e+09,-6.469748e+05,-3.744139e+04,-2.245231e+03,9.850461e+01
StockTurnover,10430.0,1.668948e-01,1.002179e+00,1.831573e-07,6.575977e-05,1.505605e-03,2.843641e-02,4.869824e+01
SalesToPurchaseRatio,10430.0,2.532689e-01,1.551387e+00,7.810078e-08,1.553253e-04,2.677297e-03,4.284973e-02,6.720764e+01

In [6]:
# STEP 1  Make vendor-level roll-up (one row per vendor)

import sqlite3, pandas as pd
from pathlib import Path

conn = sqlite3.connect("inventory.db")

sql = """
DROP TABLE IF EXISTS vendor_summary_by_vendor;

CREATE TABLE vendor_summary_by_vendor AS
SELECT
  VendorNumber,
  MIN(TRIM(VendorName))                            AS VendorName,
  COUNT(DISTINCT Brand)                            AS BrandCount,

  -- totals
  SUM(TotalSalesQuantity)                          AS TotalSalesQty,
  SUM(TotalSalesDollars)                           AS TotalSalesDol,
  SUM(TotalPurchaseQuantity)                       AS TotalPurchaseQty,
  SUM(TotalPurchaseDollars)                        AS TotalPurchaseDol,
  SUM(FreightCost)                                 AS FreightCost,

  -- already-computed GP (from brand rows) summed to vendor level
  SUM(GrossProfit)                                 AS GrossProfit,

  -- vendor-level KPIs
  CASE WHEN SUM(TotalSalesDollars) > 0
       THEN 100.0 * SUM(GrossProfit) / SUM(TotalSalesDollars)
       ELSE 0 END                                  AS ProfitMargin,

  CASE WHEN SUM(TotalPurchaseQuantity) > 0
       THEN 1.0 * SUM(TotalSalesQuantity) / SUM(TotalPurchaseQuantity)
       ELSE 0 END                                  AS StockTurnover,

  CASE WHEN SUM(TotalPurchaseDollars) > 0
       THEN 1.0 * SUM(TotalSalesDollars) / SUM(TotalPurchaseDollars)
       ELSE 0 END                                  AS SalesToPurchaseRatio
FROM vendor_sales_summary
GROUP BY VendorNumber;
"""

conn.executescript(sql)

# quick peek
preview = pd.read_sql("""
  SELECT VendorNumber, VendorName, GrossProfit, ProfitMargin, TotalSalesDol, BrandCount
  FROM vendor_summary_by_vendor
  ORDER BY GrossProfit DESC
  LIMIT 10;
""", conn)
display(preview)

# save for dashboards
Path("outputs").mkdir(exist_ok=True)
pd.read_sql("SELECT * FROM vendor_summary_by_vendor;", conn)\
  .to_csv("outputs/vendor_summary_by_vendor.csv", index=False)

conn.close()

,VendorNumber,VendorName,GrossProfit,ProfitMargin,TotalSalesDol,BrandCount
0,10000,MAJESTIC FINE WINES,2.018995e+08,60.121127,3.358213e+08,38
1,8664,"STOLI GROUP,(USA) LLC",7.923056e+07,32.825140,2.413716e+08,44
2,2555,DISARONNO INTERNATIONAL LLC,6.322346e+07,83.353983,7.584936e+07,11
3,3089,SIDNEY FRANK IMPORTING CO,4.685953e+07,67.640340,6.927749e+07,13
4,1485,CASTLE BRANDS CORP.,2.678040e+07,37.897517,7.066532e+07,26
5,1273,CALEDONIA SPIRITS INC,6.968032e+06,84.229701,8.272655e+06,5
6,9206,PHILLIPS PRODUCTS CO.,4.845596e+06,33.708338,1.437507e+07,22
7,8320,SHAW ROSS INT L IMP LTD,3.808916e+06,14.766950,2.579352e+07,35
8,4466,AMERICAN VINTAGE BEVERAGE,3.001332e+06,86.424340,3.472786e+06,3
9,4550,KLIN SPIRITS LLC,2.861899e+06,87.307263,3.277962e+06,4

In [11]:
import sqlite3, pandas as pd

# 1) Re-open the DB connection for this cell
conn = sqlite3.connect("inventory.db")

# 2) Top 10 vendors by Gross Profit
top_vendors = pd.read_sql("""
  SELECT VendorNumber, VendorName, GrossProfit, ProfitMargin, TotalSalesDol
  FROM vendor_summary_by_vendor
  ORDER BY GrossProfit DESC
  LIMIT 10;
""", conn)
display(top_vendors)

# 3) Bottom 10 vendors by Profit Margin
low_margin = pd.read_sql("""
  SELECT VendorNumber, VendorName, ProfitMargin, TotalSalesDol, GrossProfit
  FROM vendor_summary_by_vendor
  ORDER BY ProfitMargin ASC
  LIMIT 10;
""", conn)
display(low_margin)

# 4) (Optional) Close again after youre done
conn.close()

,VendorNumber,VendorName,GrossProfit,ProfitMargin,TotalSalesDol
0,10000,MAJESTIC FINE WINES,2.018995e+08,60.121127,3.358213e+08
1,8664,"STOLI GROUP,(USA) LLC",7.923056e+07,32.825140,2.413716e+08
2,2555,DISARONNO INTERNATIONAL LLC,6.322346e+07,83.353983,7.584936e+07
3,3089,SIDNEY FRANK IMPORTING CO,4.685953e+07,67.640340,6.927749e+07
4,1485,CASTLE BRANDS CORP.,2.678040e+07,37.897517,7.066532e+07
5,1273,CALEDONIA SPIRITS INC,6.968032e+06,84.229701,8.272655e+06
6,9206,PHILLIPS PRODUCTS CO.,4.845596e+06,33.708338,1.437507e+07
7,8320,SHAW ROSS INT L IMP LTD,3.808916e+06,14.766950,2.579352e+07
8,4466,AMERICAN VINTAGE BEVERAGE,3.001332e+06,86.424340,3.472786e+06
9,4550,KLIN SPIRITS LLC,2.861899e+06,87.307263,3.277962e+06

,VendorNumber,VendorName,ProfitMargin,TotalSalesDol,GrossProfit
0,10754,PERFECTA WINES,-5287.277028,7.874471e+07,-4.163451e+09
1,7749,R.P.IMPORTS INC,-3267.705734,1.960958e+04,-6.407834e+05
2,9165,ULTRA BEVERAGE COMPANY LLP,-2926.754464,3.557937e+08,-1.041321e+10
3,4425,MARTIGNETTI COMPANIES,-2486.030612,1.467460e+09,-3.648151e+10
4,1650,Circa Wines,-2289.270222,1.127657e+05,-2.581512e+06
5,7153,PINE STATE TRADING CO,-1983.310471,5.977999e+07,-1.185623e+09
6,9552,M S WALKER INC,-1924.783528,4.413303e+08,-8.494653e+09
7,3951,HIGHLAND WINE MERCHANTS LLC,-1697.863924,1.845440e+03,-3.133306e+04
8,90047,CRUSH WINES,-1512.708592,2.344679e+06,-3.546816e+07
9,9099,TRUETT HURST,-1486.991328,1.499000e+01,-2.229000e+02

In [14]:
# === E2E: build summary tables + sanity checks + exports ===
import sqlite3, pandas as pd, time
from pathlib import Path
from IPython.display import display

t0 = time.time()
Path("outputs").mkdir(exist_ok=True)

with sqlite3.connect("inventory.db") as conn:
    # -- light performance knobs (safe) + helpful indexes (idempotent) --
    conn.execute("PRAGMA journal_mode=WAL;")
    conn.execute("PRAGMA temp_store=MEMORY;")
    conn.execute("PRAGMA cache_size=-500000;")  # ~500MB RAM cache if available
    conn.executescript("""
    CREATE INDEX IF NOT EXISTS idx_sales_inventory     ON sales(InventoryId);
    CREATE INDEX IF NOT EXISTS idx_purch_inventory     ON purchases(InventoryId);
    CREATE INDEX IF NOT EXISTS idx_purch_vendor_brand  ON purchases(VendorNumber, Brand);
    CREATE INDEX IF NOT EXISTS idx_pp_vendor_brand     ON purchase_prices(VendorNumber, Brand);
    CREATE INDEX IF NOT EXISTS idx_vi_vendor           ON vendor_invoice(VendorNumber);
    """)

    # ------------------------------------------------------------------
    # 1) BRAND-LEVEL SUMMARY (vendor + brand) -> vendor_sales_summary
    # ------------------------------------------------------------------
    brand_sql = """
    DROP TABLE IF EXISTS vendor_sales_summary;
    CREATE TABLE vendor_sales_summary AS
    WITH
    sales_agg AS (
      SELECT p.VendorNumber,
             s.Brand,
             SUM(s.SalesQuantity) AS TotalSalesQuantity,
             SUM(s.SalesDollars)  AS TotalSalesDollars,
             AVG(s.SalesPrice)    AS AvgSalesPrice
      FROM sales s
      JOIN purchases p ON p.InventoryId = s.InventoryId
      GROUP BY p.VendorNumber, s.Brand
    ),
    purch_agg AS (
      SELECT p.VendorNumber,
             p.VendorName,
             p.Brand,
             AVG(pp.PurchasePrice)        AS AvgPurchasePrice,
             AVG(pp.Price)                AS AvgActualPrice,
             MAX(CAST(pp.Volume AS REAL)) AS Volume
      FROM purchases p
      LEFT JOIN purchase_prices pp
        ON pp.VendorNumber = p.VendorNumber
       AND pp.Brand        = p.Brand
      GROUP BY p.VendorNumber, p.VendorName, p.Brand
    ),
    vi_agg AS (
      SELECT VendorNumber,
             SUM(Quantity) AS TotalPurchaseQuantity,
             SUM(Dollars)  AS TotalPurchaseDollars,
             SUM(Freight)  AS FreightCost
      FROM vendor_invoice
      GROUP BY VendorNumber
    )
    SELECT
      s.VendorNumber                                   AS VendorNumber,
      COALESCE(TRIM(p.VendorName),'')                  AS VendorName,
      COALESCE(TRIM(s.Brand),'')                       AS Brand,
      COALESCE(p.AvgPurchasePrice,0)                   AS AvgPurchasePrice,
      COALESCE(p.AvgActualPrice,0)                     AS AvgActualPrice,
      COALESCE(p.Volume,0)                             AS Volume,
      COALESCE(s.TotalSalesQuantity,0)                 AS TotalSalesQuantity,
      COALESCE(s.TotalSalesDollars,0)                  AS TotalSalesDollars,
      COALESCE(s.AvgSalesPrice,0)                      AS AvgSalesPrice,
      COALESCE(v.TotalPurchaseQuantity,0)              AS TotalPurchaseQuantity,
      COALESCE(v.TotalPurchaseDollars,0)               AS TotalPurchaseDollars,
      COALESCE(v.FreightCost,0)                        AS FreightCost,
      /* KPIs at brand level */
      (COALESCE(s.TotalSalesDollars,0)
       - COALESCE(v.TotalPurchaseDollars,0)
       - COALESCE(v.FreightCost,0))                    AS GrossProfit,
      CASE WHEN COALESCE(s.TotalSalesDollars,0) > 0
           THEN 100.0 * (
                  (COALESCE(s.TotalSalesDollars,0)
                   - COALESCE(v.TotalPurchaseDollars,0)
                   - COALESCE(v.FreightCost,0))
                  / COALESCE(s.TotalSalesDollars,0)
                )
           ELSE 0 END                                  AS ProfitMargin,
      CASE WHEN COALESCE(v.TotalPurchaseQuantity,0) > 0
           THEN COALESCE(s.TotalSalesQuantity,0) * 1.0 / v.TotalPurchaseQuantity
           ELSE 0 END                                  AS StockTurnover,
      CASE WHEN COALESCE(v.TotalPurchaseDollars,0) > 0
           THEN COALESCE(s.TotalSalesDollars,0) * 1.0 / v.TotalPurchaseDollars
           ELSE 0 END                                  AS SalesToPurchaseRatio
    FROM sales_agg s
    LEFT JOIN purch_agg p ON p.VendorNumber = s.VendorNumber AND p.Brand = s.Brand
    LEFT JOIN vi_agg v    ON v.VendorNumber = s.VendorNumber
    ;
    """
    conn.executescript(brand_sql)

    # quick peek
    vs = pd.read_sql("SELECT * FROM vendor_sales_summary LIMIT 10;", conn)
    print("vendor_sales_summary created")
    display(vs)

    # ------------------------------------------------------------------
    # 2) VENDOR-LEVEL ROLLUP (one row per vendor) -> vendor_summary_by_vendor
    # ------------------------------------------------------------------
    rollup_sql = """
    DROP TABLE IF EXISTS vendor_summary_by_vendor;
    CREATE TABLE vendor_summary_by_vendor AS
    SELECT
      VendorNumber,
      MAX(VendorName)                                AS VendorName,
      COUNT(DISTINCT Brand)                          AS BrandCount,
      /* Sums for $ and qty */
      SUM(TotalSalesDollars)                         AS TotalSalesDol,
      SUM(TotalPurchaseDollars)                      AS TotalPurchaseDol,
      SUM(FreightCost)                               AS FreightCost,
      SUM(TotalSalesQuantity)                        AS TotalSalesQty,
      SUM(TotalPurchaseQuantity)                     AS TotalPurchaseQty,
      /* GrossProfit recomputed at vendor level for accuracy */
      SUM(TotalSalesDollars - TotalPurchaseDollars - FreightCost) AS GrossProfit,
      /* Margin percent based on vendor-level totals */
      CASE WHEN SUM(TotalSalesDollars) > 0
           THEN 100.0 * SUM(TotalSalesDollars - TotalPurchaseDollars - FreightCost)
                        / SUM(TotalSalesDollars)
           ELSE 0 END                                 AS ProfitMargin,
      /* Averages for context */
      AVG(AvgSalesPrice)                              AS AvgSalesPrice,
      AVG(AvgPurchasePrice)                           AS AvgPurchasePrice
    FROM vendor_sales_summary
    GROUP BY VendorNumber
    ;
    """
    conn.executescript(rollup_sql)

    preview = pd.read_sql("""
        SELECT VendorNumber, VendorName, GrossProfit, ProfitMargin, TotalSalesDol, BrandCount
        FROM vendor_summary_by_vendor
        ORDER BY GrossProfit DESC
        LIMIT 10;
    """, conn)
    print("vendor_summary_by_vendor created (top 10 by GrossProfit)")
    display(preview)

    # ------------------------------------------------------------------
    # 3) BASIC SANITY CHECKS
    # ------------------------------------------------------------------
    print("\nData quality checks (brand level):")
    dtypes = pd.read_sql("""
      SELECT 'VendorNumber'             AS col, 'INT'  AS expected
      UNION ALL SELECT 'VendorName','TEXT'
      UNION ALL SELECT 'Brand','TEXT'
      UNION ALL SELECT 'TotalSalesDollars','NUM'
      UNION ALL SELECT 'TotalPurchaseDollars','NUM'
      UNION ALL SELECT 'TotalSalesQuantity','NUM'
      UNION ALL SELECT 'TotalPurchaseQuantity','NUM'
      UNION ALL SELECT 'FreightCost','NUM'
    """, conn)
    display(dtypes.head(8))

    nulls = pd.read_sql("""
      SELECT
        SUM(CASE WHEN VendorNumber           IS NULL THEN 1 ELSE 0 END) AS nn_VendorNumber,
        SUM(CASE WHEN VendorName             IS NULL THEN 1 ELSE 0 END) AS nn_VendorName,
        SUM(CASE WHEN Brand                  IS NULL THEN 1 ELSE 0 END) AS nn_Brand,
        SUM(CASE WHEN TotalSalesDollars      IS NULL THEN 1 ELSE 0 END) AS nn_TotalSalesDol,
        SUM(CASE WHEN TotalPurchaseDollars   IS NULL THEN 1 ELSE 0 END) AS nn_TotalPurchaseDol,
        SUM(CASE WHEN TotalSalesQuantity     IS NULL THEN 1 ELSE 0 END) AS nn_TotalSalesQty,
        SUM(CASE WHEN TotalPurchaseQuantity  IS NULL THEN 1 ELSE 0 END) AS nn_TotalPurchaseQty,
        SUM(CASE WHEN FreightCost            IS NULL THEN 1 ELSE 0 END) AS nn_Freight
      FROM vendor_sales_summary;
    """, conn)
    display(nulls)

    negatives = pd.read_sql("""
      SELECT
        SUM(CASE WHEN TotalSalesQuantity    < 0 THEN 1 ELSE 0 END) AS neg_SalesQty,
        SUM(CASE WHEN TotalSalesDollars    < 0 THEN 1 ELSE 0 END) AS neg_SalesDol,
        SUM(CASE WHEN TotalPurchaseQuantity< 0 THEN 1 ELSE 0 END) AS neg_PurchQty,
        SUM(CASE WHEN TotalPurchaseDollars < 0 THEN 1 ELSE 0 END) AS neg_PurchDol,
        SUM(CASE WHEN FreightCost          < 0 THEN 1 ELSE 0 END) AS neg_Freight
      FROM vendor_sales_summary;
    """, conn)
    display(negatives)

    # ------------------------------------------------------------------
    # 4) SMALL INSIGHT TABLES + EXPORTS
    # ------------------------------------------------------------------
    top_vendors = pd.read_sql("""
        SELECT VendorNumber, VendorName, GrossProfit, ProfitMargin, TotalSalesDol
        FROM vendor_summary_by_vendor
        ORDER BY GrossProfit DESC
        LIMIT 10;
    """, conn)

    low_margin = pd.read_sql("""
        SELECT VendorNumber, VendorName, ProfitMargin, TotalSalesDol, GrossProfit
        FROM vendor_summary_by_vendor
        ORDER BY ProfitMargin ASC
        LIMIT 10;
    """, conn)

    display(top_vendors)
    display(low_margin)

    top_vendors.to_csv("outputs/top_vendors_by_grossprofit.csv", index=False)
    low_margin.to_csv("outputs/bottom_vendors_by_margin.csv", index=False)

    # also persist these as tables (optional but handy)
    top_vendors.to_sql("top_vendors_by_grossprofit", conn, if_exists="replace", index=False)
    low_margin.to_sql("bottom_vendors_by_margin",  conn, if_exists="replace", index=False)

print(f"\nDone in {round((time.time()-t0)/60, 2)} min. Files saved in outputs/ and tables saved in inventory.db.")

vendor_sales_summary created

,VendorNumber,VendorName,Brand,AvgPurchasePrice,AvgActualPrice,Volume,TotalSalesQuantity,TotalSalesDollars,AvgSalesPrice,TotalPurchaseQuantity,TotalPurchaseDollars,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio
0,2,"IRA GOLDMAN AND WILLIAMS, LLP",90085,23.86,36.99,750.0,13,480.87,36.990000,328,5630.88,27.08,-5177.09,-1076.609063,0.039634,0.085399
1,2,"IRA GOLDMAN AND WILLIAMS, LLP",90609,17.00,24.99,162.5,83,2074.17,24.990000,328,5630.88,27.08,-3583.79,-172.781884,0.253049,0.368356
2,60,ADAMBA IMPORTS INTL INC,771,11.44,14.99,750.0,137,2053.63,14.990000,4732,76770.25,367.52,-75084.14,-3656.166885,0.028952,0.026750
3,60,ADAMBA IMPORTS INTL INC,3979,16.27,20.99,1750.0,79412,1351615.88,17.031356,4732,76770.25,367.52,1274478.11,94.292922,16.781910,17.605985
4,105,ALTAMAR BRANDS LLC,2529,23.25,29.99,750.0,24,719.76,29.990000,332,11706.20,62.39,-11048.83,-1535.071413,0.072289,0.061485
5,105,ALTAMAR BRANDS LLC,8412,35.71,49.99,750.0,1346,67286.54,49.990000,332,11706.20,62.39,55517.95,82.509741,4.054217,5.747940
6,200,AMERICAN SPIRITS EXCHANGE,19715,7.53,10.99,750.0,38,417.62,10.990000,132,1205.16,6.19,-793.73,-190.060342,0.287879,0.346527
7,200,AMERICAN SPIRITS EXCHANGE,20789,9.73,14.99,750.0,138,2482.62,17.990000,132,1205.16,6.19,1271.27,51.206790,1.045455,2.059992
8,287,APPOLO VINEYARDS LLC,24921,10.40,15.49,750.0,33,490.17,14.833750,230,2399.70,12.28,-1921.81,-392.070098,0.143478,0.204263
9,287,APPOLO VINEYARDS LLC,24922,10.47,15.49,750.0,40,588.10,15.115000,230,2399.70,12.28,-1823.88,-310.130930,0.173913,0.245072

vendor_summary_by_vendor created (top 10 by GrossProfit)

,VendorNumber,VendorName,GrossProfit,ProfitMargin,TotalSalesDol,BrandCount
0,10000,MAJESTIC FINE WINES,2.018995e+08,60.121127,3.358213e+08,38
1,8664,"STOLI GROUP,(USA) LLC",7.923056e+07,32.825140,2.413716e+08,44
2,2555,DISARONNO INTERNATIONAL LLC,6.322346e+07,83.353983,7.584936e+07,11
3,3089,SIDNEY FRANK IMPORTING CO,4.685953e+07,67.640340,6.927749e+07,13
4,1485,CASTLE BRANDS CORP.,2.678040e+07,37.897517,7.066532e+07,26
5,1273,CALEDONIA SPIRITS INC,6.968032e+06,84.229701,8.272655e+06,5
6,9206,PHILLIPS PRODUCTS CO.,4.845596e+06,33.708338,1.437507e+07,22
7,8320,SHAW ROSS INT L IMP LTD,3.808916e+06,14.766950,2.579352e+07,35
8,4466,AMERICAN VINTAGE BEVERAGE,3.001332e+06,86.424340,3.472786e+06,3
9,4550,KLIN SPIRITS LLC,2.861899e+06,87.307263,3.277962e+06,4

Data quality checks (brand level):

                     col expected
0           VendorNumber      INT
1             VendorName     TEXT
2                  Brand     TEXT
3      TotalSalesDollars      NUM
4   TotalPurchaseDollars      NUM
5     TotalSalesQuantity      NUM
6  TotalPurchaseQuantity      NUM
7            FreightCost      NUM

,nn_VendorNumber,nn_VendorName,nn_Brand,nn_TotalSalesDol,nn_TotalPurchaseDol,nn_TotalSalesQty,nn_TotalPurchaseQty,nn_Freight
0,0,0,0,0,0,0,0,0

   neg_SalesQty  neg_SalesDol  neg_PurchQty  neg_PurchDol  neg_Freight
0             0             0             0             0            0

,VendorNumber,VendorName,GrossProfit,ProfitMargin,TotalSalesDol
0,10000,MAJESTIC FINE WINES,2.018995e+08,60.121127,3.358213e+08
1,8664,"STOLI GROUP,(USA) LLC",7.923056e+07,32.825140,2.413716e+08
2,2555,DISARONNO INTERNATIONAL LLC,6.322346e+07,83.353983,7.584936e+07
3,3089,SIDNEY FRANK IMPORTING CO,4.685953e+07,67.640340,6.927749e+07
4,1485,CASTLE BRANDS CORP.,2.678040e+07,37.897517,7.066532e+07
5,1273,CALEDONIA SPIRITS INC,6.968032e+06,84.229701,8.272655e+06
6,9206,PHILLIPS PRODUCTS CO.,4.845596e+06,33.708338,1.437507e+07
7,8320,SHAW ROSS INT L IMP LTD,3.808916e+06,14.766950,2.579352e+07
8,4466,AMERICAN VINTAGE BEVERAGE,3.001332e+06,86.424340,3.472786e+06
9,4550,KLIN SPIRITS LLC,2.861899e+06,87.307263,3.277962e+06

,VendorNumber,VendorName,ProfitMargin,TotalSalesDol,GrossProfit
0,10754,PERFECTA WINES,-5287.277028,7.874471e+07,-4.163451e+09
1,7749,R.P.IMPORTS INC,-3267.705734,1.960958e+04,-6.407834e+05
2,9165,ULTRA BEVERAGE COMPANY LLP,-2926.754464,3.557937e+08,-1.041321e+10
3,4425,MARTIGNETTI COMPANIES,-2486.030612,1.467460e+09,-3.648151e+10
4,1650,Circa Wines,-2289.270222,1.127657e+05,-2.581512e+06
5,7153,PINE STATE TRADING CO,-1983.310471,5.977999e+07,-1.185623e+09
6,9552,M S WALKER INC,-1924.783528,4.413303e+08,-8.494653e+09
7,3951,HIGHLAND WINE MERCHANTS LLC,-1697.863924,1.845440e+03,-3.133306e+04
8,90047,CRUSH WINES,-1512.708592,2.344679e+06,-3.546816e+07
9,9099,TRUETT HURST,-1486.991328,1.499000e+01,-2.229000e+02

Done in 7.57 min. Files saved in outputs/ and tables saved in inventory.db.

In [15]:
import sqlite3, pandas as pd
from pathlib import Path

conn = sqlite3.connect("inventory.db")

brand_sql = """
DROP TABLE IF EXISTS brand_pricing;

CREATE TABLE brand_pricing AS
SELECT
    VendorNumber,
    VendorName,
    Brand,
    TotalSalesQuantity,
    TotalSalesDollars,
    TotalPurchaseQuantity,
    TotalPurchaseDollars,
    FreightCost,
    -- existing kpis from build
    GrossProfit,
    ProfitMargin,
    SalesToPurchaseRatio,
    StockTurnover,

    -- new diagnostics
    CASE WHEN TotalSalesDollars > 0
         THEN FreightCost * 1.0 / TotalSalesDollars
         ELSE 0 END                       AS FreightPct,

    CASE WHEN TotalPurchaseQuantity > 0
         THEN TotalPurchaseDollars * 1.0 / TotalPurchaseQuantity
         ELSE NULL END                    AS AvgUnitCost,

    CASE WHEN TotalSalesQuantity > 0
         THEN TotalSalesDollars * 1.0 / TotalSalesQuantity
         ELSE NULL END                    AS AvgUnitPrice,

    CASE WHEN TotalSalesQuantity > 0 AND TotalPurchaseQuantity > 0
         THEN (TotalSalesDollars*1.0/TotalSalesQuantity) - (TotalPurchaseDollars*1.0/TotalPurchaseQuantity)
         ELSE NULL END                    AS UnitMargin,

    CASE WHEN TotalSalesQuantity > 0 AND TotalPurchaseQuantity > 0
         THEN ((TotalSalesDollars*1.0/TotalSalesQuantity) - (TotalPurchaseDollars*1.0/TotalPurchaseQuantity))
              / NULLIF((TotalSalesDollars*1.0/TotalSalesQuantity),0)
         ELSE NULL END                    AS UnitMarginPct,

    -- simple, tunable flags
    CASE WHEN ProfitMargin < 10 THEN 1 ELSE 0 END       AS LowMarginFlag,
    CASE WHEN (FreightCost > 0 AND TotalSalesDollars > 0 AND (FreightCost*1.0/TotalSalesDollars) > 0.08)
         THEN 1 ELSE 0 END                               AS HighFreightFlag,
    CASE WHEN (StockTurnover IS NOT NULL AND StockTurnover < 0.5)
         THEN 1 ELSE 0 END                               AS LowTurnoverFlag
FROM vendor_sales_summary;
"""

conn.executescript(brand_sql)

# quick peek & export
df = pd.read_sql("SELECT * FROM brand_pricing ORDER BY ProfitMargin ASC LIMIT 20;", conn)
display(df)

Path("outputs").mkdir(exist_ok=True)
pd.read_sql("SELECT * FROM brand_pricing;", conn).to_csv("outputs/brand_pricing_diagnostics.csv", index=False)

conn.close()
print("brand_pricing created and exported to outputs/brand_pricing_diagnostics.csv")

,VendorNumber,VendorName,Brand,TotalSalesQuantity,TotalSalesDollars,TotalPurchaseQuantity,TotalPurchaseDollars,FreightCost,GrossProfit,ProfitMargin,SalesToPurchaseRatio,StockTurnover,FreightPct,AvgUnitCost,AvgUnitPrice,UnitMargin,UnitMarginPct,LowMarginFlag,HighFreightFlag,LowTurnoverFlag
0,3960,DIAGEO NORTH AMERICA INC,2626,2,3.98,5459788,50959796.85,257032.07,-51216824.94,-1.286855e+09,7.810078e-08,3.663146e-07,64580.922111,9.333659,1.99,-7.343659,-3.690281,1,1,1
1,3960,DIAGEO NORTH AMERICA INC,8729,5,4.95,5459788,50959796.85,257032.07,-51216823.97,-1.034683e+09,9.713540e-08,9.157865e-07,51925.670707,9.333659,0.99,-8.343659,-8.427938,1,1,1
2,4425,MARTIGNETTI COMPANIES,27934,1,4.99,2640411,27861690.02,144929.24,-28006614.27,-5.612548e+08,1.790990e-07,3.787289e-07,29043.935872,10.552028,4.99,-5.562028,-1.114635,1,1,1
3,3960,DIAGEO NORTH AMERICA INC,819,1,11.99,5459788,50959796.85,257032.07,-51216816.93,-4.271628e+08,2.352835e-07,1.831573e-07,21437.203503,9.333659,11.99,2.656341,0.221546,1,1,1
4,4425,MARTIGNETTI COMPANIES,16425,1,7.99,2640411,27861690.02,144929.24,-28006611.27,-3.505208e+08,2.867737e-07,3.787289e-07,18138.828536,10.552028,7.99,-2.562028,-0.320654,1,1,1
5,8004,SAZERAC CO INC,5683,6,2.94,1417727,9916770.26,50293.62,-9967060.94,-3.390157e+08,2.964675e-07,4.232126e-06,17106.673469,6.994838,0.49,-6.504838,-13.275179,1,1,1
6,12546,JIM BEAM BRANDS COMPANY,4295,1,7.99,2737165,24203151.05,123880.97,-24327024.03,-3.044684e+08,3.301223e-07,3.653415e-07,15504.501877,8.842416,7.99,-0.852416,-0.106685,1,1,1
7,4425,MARTIGNETTI COMPANIES,16688,1,9.49,2640411,27861690.02,144929.24,-28006609.77,-2.951171e+08,3.406111e-07,3.787289e-07,15271.785037,10.552028,9.49,-1.062028,-0.111910,1,1,1
8,4425,MARTIGNETTI COMPANIES,18458,1,9.99,2640411,27861690.02,144929.24,-28006609.27,-2.803464e+08,3.585569e-07,3.787289e-07,14507.431431,10.552028,9.99,-0.562028,-0.056259,1,1,1
9,4425,MARTIGNETTI COMPANIES,17331,1,10.99,2640411,27861690.02,144929.24,-28006608.27,-2.548372e+08,3.944484e-07,3.787289e-07,13187.373976,10.552028,10.99,0.437972,0.039852,1,1,1
10,9165,ULTRA BEVERAGE COMPANY LLP,18073,1,5.79,1077527,13210613.93,68054.70,-13278662.84,-2.293379e+08,4.382839e-07,9.280510e-07,11753.834197,12.260123,5.79,-6.470123,-1.117465,1,1,1
11,12546,JIM BEAM BRANDS COMPANY,122,1,10.99,2737165,24203151.05,123880.97,-24327021.03,-2.213560e+08,4.540731e-07,3.653415e-07,11272.153776,8.842416,10.99,2.147584,0.195413,1,1,1
12,12546,JIM BEAM BRANDS COMPANY,5250,1,10.99,2737165,24203151.05,123880.97,-24327021.03,-2.213560e+08,4.540731e-07,3.653415e-07,11272.153776,8.842416,10.99,2.147584,0.195413,1,1,1
13,4425,MARTIGNETTI COMPANIES,20503,1,12.99,2640411,27861690.02,144929.24,-28006606.27,-2.156013e+08,4.662316e-07,3.787289e-07,11156.985373,10.552028,12.99,2.437972,0.187681,1,1,1
14,3960,DIAGEO NORTH AMERICA INC,5104,1,24.99,5459788,50959796.85,257032.07,-51216803.93,-2.049492e+08,4.903866e-07,1.831573e-07,10285.396959,9.333659,24.99,15.656341,0.626504,1,1,1
15,12546,JIM BEAM BRANDS COMPANY,3333,1,12.99,2737165,24203151.05,123880.97,-24327019.03,-1.872750e+08,5.367070e-07,3.653415e-07,9536.641263,8.842416,12.99,4.147584,0.319291,1,1,1
16,4425,MARTIGNETTI COMPANIES,20222,1,14.99,2640411,27861690.02,144929.24,-28006604.27,-1.868353e+08,5.380147e-07,3.787289e-07,9668.394930,10.552028,14.99,4.437972,0.296062,1,1,1
17,9552,M S WALKER INC,726,1,5.99,1372841,10935817.30,55551.82,-10991363.13,-1.834952e+08,5.477414e-07,7.284165e-07,9274.093489,7.965829,5.99,-1.975829,-0.329855,1,1,1
18,9552,M S WALKER INC,746,1,5.99,1372841,10935817.30,55551.82,-10991363.13,-1.834952e+08,5.477414e-07,7.284165e-07,9274.093489,7.965829,5.99,-1.975829,-0.329855,1,1,1
19,480,BACARDI USA INC,4357,1,9.99,1427075,17624378.72,89286.27,-17713655.00,-1.773139e+08,5.668285e-07,7.007340e-07,8937.564565,12.350002,9.99,-2.360002,-0.236236,1,1,1

brand_pricing created and exported to outputs/brand_pricing_diagnostics.csv

In [16]:
import sqlite3, pandas as pd
from pathlib import Path

# ---- tunable thresholds (adjust later if needed) ----
MIN_SALES_DOLLARS   = 10_000     # ignore tiny brands
MIN_SALES_QTY       = 10
LOW_MARGIN_PCT      = 10.0       # ProfitMargin %
HIGH_FREIGHT_PCT    = 0.08       # 8% of sales
LOW_TURNOVER        = 0.5        # sells < 0.5 of purchases

conn = sqlite3.connect("inventory.db")

sql = f"""
DROP TABLE IF EXISTS underperforming_brands;

CREATE TABLE underperforming_brands AS
SELECT
    VendorNumber,
    VendorName,
    Brand,
    TotalSalesQuantity,
    TotalSalesDollars,
    TotalPurchaseQuantity,
    TotalPurchaseDollars,
    FreightCost,
    GrossProfit,
    ProfitMargin,
    StockTurnover,
    SalesToPurchaseRatio,
    FreightPct,
    AvgUnitCost,
    AvgUnitPrice,
    UnitMargin,
    UnitMarginPct,
    -- reason flags (1=true) to make it clear why it was picked
    CASE WHEN ProfitMargin < {LOW_MARGIN_PCT} THEN 1 ELSE 0 END  AS Reason_LowMargin,
    CASE WHEN FreightPct   > {HIGH_FREIGHT_PCT} THEN 1 ELSE 0 END AS Reason_HighFreight,
    CASE WHEN StockTurnover IS NOT NULL AND StockTurnover < {LOW_TURNOVER} THEN 1 ELSE 0 END AS Reason_LowTurnover
FROM brand_pricing
WHERE
      TotalSalesDollars >= {MIN_SALES_DOLLARS}
  AND TotalSalesQuantity >= {MIN_SALES_QTY}
  AND (
        ProfitMargin < {LOW_MARGIN_PCT}
     OR FreightPct   > {HIGH_FREIGHT_PCT}
     OR (StockTurnover IS NOT NULL AND StockTurnover < {LOW_TURNOVER})
  )
ORDER BY VendorNumber, ProfitMargin ASC, FreightPct DESC;
"""

conn.executescript(sql)

# quick peek & export
Path("outputs").mkdir(exist_ok=True)
df = pd.read_sql("SELECT * FROM underperforming_brands LIMIT 20;", conn)
display(df)

pd.read_sql("SELECT * FROM underperforming_brands;", conn)\
  .to_csv("outputs/underperforming_brands.csv", index=False)

conn.close()
print("underperforming_brands table created + outputs/underperforming_brands.csv exported.")

,VendorNumber,VendorName,Brand,TotalSalesQuantity,TotalSalesDollars,TotalPurchaseQuantity,TotalPurchaseDollars,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio,FreightPct,AvgUnitCost,AvgUnitPrice,UnitMargin,UnitMarginPct,Reason_LowMargin,Reason_HighFreight,Reason_LowTurnover
0,480,BACARDI USA INC,4160,466,10105.34,1427075,17624378.72,89286.27,-17703559.65,-175190.143528,0.000327,0.000573,8.835553,12.350002,21.685279,9.335277,0.430489,1,1,1
1,480,BACARDI USA INC,565,521,10753.79,1427075,17624378.72,89286.27,-17702911.20,-164620.205528,0.000365,0.000610,8.302772,12.350002,20.640672,8.290670,0.401667,1,1,1
2,480,BACARDI USA INC,3199,276,12969.24,1427075,17624378.72,89286.27,-17700695.75,-136482.135807,0.000193,0.000736,6.884464,12.350002,46.990000,34.639998,0.737178,1,1,1
3,480,BACARDI USA INC,4025,7707,13795.53,1427075,17624378.72,89286.27,-17699869.46,-128301.482147,0.005401,0.000783,6.472116,12.350002,1.790000,-10.560002,-5.899442,1,1,1
4,480,BACARDI USA INC,23205,1021,16325.79,1427075,17624378.72,89286.27,-17697339.20,-108401.119946,0.000715,0.000926,5.469032,12.350002,15.990000,3.639998,0.227642,1,1,1
5,480,BACARDI USA INC,2200,1099,16541.01,1427075,17624378.72,89286.27,-17697123.98,-106989.379609,0.000770,0.000939,5.397873,12.350002,15.050965,2.700963,0.179454,1,1,1
6,480,BACARDI USA INC,2184,1119,16797.81,1427075,17624378.72,89286.27,-17696867.18,-105352.228535,0.000784,0.000953,5.315352,12.350002,15.011448,2.661446,0.177294,1,1,1
7,480,BACARDI USA INC,804,1151,16983.99,1427075,17624378.72,89286.27,-17696681.00,-104196.251882,0.000807,0.000964,5.257084,12.350002,14.755856,2.405854,0.163044,1,1,1
8,480,BACARDI USA INC,4216,908,19030.92,1427075,17624378.72,89286.27,-17694634.07,-92978.342981,0.000636,0.001080,4.691642,12.350002,20.959163,8.609161,0.410759,1,1,1
9,480,BACARDI USA INC,278,690,19973.10,1427075,17624378.72,89286.27,-17693691.89,-88587.609785,0.000484,0.001133,4.470326,12.350002,28.946522,16.596520,0.573351,1,1,1
10,480,BACARDI USA INC,2679,1030,20501.70,1427075,17624378.72,89286.27,-17693163.29,-86300.956945,0.000722,0.001163,4.355067,12.350002,19.904563,7.554561,0.379539,1,1,1
11,480,BACARDI USA INC,4257,21305,21091.95,1427075,17624378.72,89286.27,-17692573.04,-83883.059840,0.014929,0.001197,4.233192,12.350002,0.990000,-11.360002,-11.474749,1,1,1
12,480,BACARDI USA INC,4252,21845,21626.55,1427075,17624378.72,89286.27,-17692038.44,-81807.030895,0.015308,0.001227,4.128549,12.350002,0.990000,-11.360002,-11.474749,1,1,1
13,480,BACARDI USA INC,4298,22183,21961.17,1427075,17624378.72,89286.27,-17691703.82,-80559.022220,0.015544,0.001246,4.065643,12.350002,0.990000,-11.360002,-11.474749,1,1,1
14,480,BACARDI USA INC,2916,340,22486.60,1427075,17624378.72,89286.27,-17691178.39,-78674.314436,0.000238,0.001276,3.970643,12.350002,66.137059,53.787057,0.813267,1,1,1
15,480,BACARDI USA INC,4290,2232,24349.68,1427075,17624378.72,89286.27,-17689315.31,-72647.013472,0.001564,0.001382,3.666835,12.350002,10.909355,-1.440647,-0.132056,1,1,1
16,480,BACARDI USA INC,2863,607,28478.93,1427075,17624378.72,89286.27,-17685186.06,-62099.194246,0.000425,0.001616,3.135169,12.350002,46.917512,34.567511,0.736772,1,1,1
17,480,BACARDI USA INC,2933,861,43615.39,1427075,17624378.72,89286.27,-17670049.60,-40513.336233,0.000603,0.002475,2.047128,12.350002,50.656667,38.306665,0.756202,1,1,1
18,480,BACARDI USA INC,5317,14001,46063.29,1427075,17624378.72,89286.27,-17667601.70,-38355.058225,0.009811,0.002614,1.938339,12.350002,3.290000,-9.060002,-2.753800,1,1,1
19,480,BACARDI USA INC,2614,827,46309.73,1427075,17624378.72,89286.27,-17667355.26,-38150.417331,0.000580,0.002628,1.928024,12.350002,55.997255,43.647253,0.779453,1,1,1

underperforming_brands table created + outputs/underperforming_brands.csv exported.

In [17]:
import sqlite3, pandas as pd
from pathlib import Path

conn = sqlite3.connect("inventory.db")

sql = """
DROP TABLE IF EXISTS vendor_risk_summary;

CREATE TABLE vendor_risk_summary AS
WITH bad AS (
  SELECT *
  FROM underperforming_brands
),
v AS (
  -- from earlier step we created this with total vendor sales
  SELECT VendorNumber,
         VendorName,
         TotalSalesDol AS VendorTotalSales
  FROM vendor_summary_by_vendor
)
SELECT
  b.VendorNumber,
  MIN(b.VendorName)                              AS VendorName,
  COUNT(*)                                       AS UnderperformingBrandCount,
  SUM(b.TotalSalesDollars)                       AS SalesAtRisk,
  SUM(b.GrossProfit)                             AS GrossProfit_FromBadBrands,
  SUM(b.FreightCost)                             AS Freight_FromBadBrands,
  AVG(b.ProfitMargin)                            AS AvgMargin_BadBrands,
  MIN(b.ProfitMargin)                            AS MinMargin_BadBrands,
  SUM(CASE WHEN b.Reason_LowMargin   = 1 THEN 1 ELSE 0 END) AS LowMarginBrands,
  SUM(CASE WHEN b.Reason_HighFreight = 1 THEN 1 ELSE 0 END) AS HighFreightBrands,
  SUM(CASE WHEN b.Reason_LowTurnover = 1 THEN 1 ELSE 0 END) AS LowTurnoverBrands,
  v.VendorTotalSales,
  CASE WHEN v.VendorTotalSales > 0
       THEN 1.0 * SUM(b.TotalSalesDollars) / v.VendorTotalSales
       ELSE 0 END                                AS SalesAtRiskPct
FROM bad b
LEFT JOIN v ON v.VendorNumber = b.VendorNumber
GROUP BY b.VendorNumber
ORDER BY SalesAtRisk DESC;
"""

conn.executescript(sql)

# quick peek + export
Path("outputs").mkdir(exist_ok=True)
df = pd.read_sql("SELECT * FROM vendor_risk_summary ORDER BY SalesAtRisk DESC LIMIT 15;", conn)
display(df)

pd.read_sql("SELECT * FROM vendor_risk_summary ORDER BY SalesAtRisk DESC;", conn) \
  .to_csv("outputs/vendor_risk_summary.csv", index=False)

conn.close()
print("vendor_risk_summary table created and exported to outputs/vendor_risk_summary.csv")

,VendorNumber,VendorName,UnderperformingBrandCount,SalesAtRisk,GrossProfit_FromBadBrands,Freight_FromBadBrands,AvgMargin_BadBrands,MinMargin_BadBrands,LowMarginBrands,HighFreightBrands,LowTurnoverBrands,VendorTotalSales,SalesAtRiskPct
0,3960,DIAGEO NORTH AMERICA INC,282,1.234321e+09,-1.320883e+10,72483043.74,-40788.309276,-471024.402388,281,204,275,3.459190e+09,0.356824
1,12546,JIM BEAM BRANDS COMPANY,265,6.262784e+08,-5.820385e+09,32828457.05,-26359.871047,-237635.597749,263,187,259,1.315993e+09,0.475898
2,4425,MARTIGNETTI COMPANIES,657,5.318486e+08,-1.786850e+10,95218510.68,-54366.480755,-275743.579091,657,601,649,1.467460e+09,0.362428
3,1392,CONSTELLATION BRANDS INC,286,3.645760e+08,-4.112310e+09,22745291.14,-17464.765941,-156393.154707,286,207,281,9.443660e+08,0.386054
4,3252,E & J GALLO WINERY,304,3.608735e+08,-3.394005e+09,18837940.64,-14903.335321,-123011.451992,304,208,298,5.767365e+08,0.625716
5,17035,PERNOD RICARD USA,169,2.945078e+08,-3.803383e+09,20918857.18,-27097.269738,-215642.408359,168,129,169,1.757277e+09,0.167593
6,9552,M S WALKER INC,351,2.511296e+08,-3.606841e+09,19498688.82,-22317.585735,-109803.799858,351,285,342,4.413303e+08,0.569029
7,480,BACARDI USA INC,112,2.214691e+08,-1.762461e+09,10000062.24,-20690.196769,-175190.143528,112,76,108,1.228343e+09,0.180299
8,9165,ULTRA BEVERAGE COMPANY LLP,391,1.711855e+08,-5.020774e+09,26609387.70,-26845.706060,-126366.642317,391,344,391,3.557937e+08,0.481137
9,1128,BROWN-FORMAN CORP,78,1.609405e+08,-8.997062e+08,5350931.04,-16063.874139,-133493.696217,77,46,73,9.607805e+08,0.167510
10,8004,SAZERAC CO INC,88,1.582243e+08,-7.188773e+08,4425838.56,-10468.534124,-92206.089736,86,48,83,5.930401e+08,0.266802
11,7245,PROXIMO SPIRITS INC.,66,9.139888e+07,-4.119847e+08,2573655.48,-5117.062901,-63914.804519,66,29,64,4.085626e+08,0.223708
12,8112,MOET HENNESSY USA INC,76,8.125482e+07,-6.423672e+08,3674391.76,-11648.005298,-90836.064915,76,50,72,3.781420e+08,0.214879
13,9815,WINE GROUP INC,86,7.923032e+07,-3.753431e+08,2330635.26,-6111.591394,-50384.595989,86,42,85,3.673383e+08,0.215688
14,3664,WILLIAM GRANT & SONS INC,56,6.815732e+07,-2.673375e+08,1693127.52,-9149.139291,-51253.696905,54,28,53,2.034694e+08,0.334976

vendor_risk_summary table created and exported to outputs/vendor_risk_summary.csv

In [19]:
import sqlite3, pandas as pd
from pathlib import Path

# --- tuning knobs ---
TARGET_MARGIN = 0.35    # aim for 35% margin
MAX_LIFT_PCT  = 0.15    # cap suggested price lift at 15%
MIN_QTY       = 10      # ignore tiny sellers

conn = sqlite3.connect("inventory.db")

sql = f"""
DROP TABLE IF EXISTS brand_pricing_opportunities;

CREATE TABLE brand_pricing_opportunities AS
WITH base AS (
  SELECT
    VendorNumber,
    VendorName,
    Brand,
    TotalSalesQuantity,
    TotalSalesDollars,
    TotalPurchaseDollars,
    FreightCost,
    AvgSalesPrice,
    CASE WHEN TotalSalesDollars > 0
         THEN (TotalSalesDollars - TotalPurchaseDollars - FreightCost) * 1.0
              / TotalSalesDollars
         ELSE 0 END AS CurrentMargin
  FROM vendor_sales_summary
),
filtered AS (
  SELECT *
  FROM base
  WHERE TotalSalesQuantity >= {MIN_QTY}
    AND TotalSalesDollars  >  0
    AND (TotalSalesDollars - TotalPurchaseDollars - FreightCost)
        < ({TARGET_MARGIN}) * TotalSalesDollars
),
need AS (
  SELECT
    *,
    (TotalPurchaseDollars + FreightCost) AS TotalCost,
    CASE WHEN (1.0 - {TARGET_MARGIN}) > 0
         THEN (TotalPurchaseDollars + FreightCost) * 1.0 / (1.0 - {TARGET_MARGIN})
         ELSE NULL END AS RequiredSalesDollars
  FROM filtered
),
calc AS (
  SELECT
    *,
    CASE WHEN RequiredSalesDollars > TotalSalesDollars
         THEN RequiredSalesDollars - TotalSalesDollars
         ELSE 0 END AS UpsideDollars,
    CASE WHEN TotalSalesQuantity > 0
         THEN (CASE WHEN RequiredSalesDollars > TotalSalesDollars
                    THEN (RequiredSalesDollars - TotalSalesDollars)
                    ELSE 0 END) * 1.0 / TotalSalesQuantity
         ELSE 0 END AS NeededPriceDeltaPerUnit
  FROM need
)
SELECT
  VendorNumber,
  VendorName,
  Brand,
  TotalSalesQuantity,
  TotalSalesDollars,
  TotalPurchaseDollars,
  FreightCost,
  AvgSalesPrice,
  CurrentMargin,
  {TARGET_MARGIN} AS TargetMargin,
  UpsideDollars,
  NeededPriceDeltaPerUnit,
  CASE
    WHEN AvgSalesPrice > 0 THEN
      MIN({MAX_LIFT_PCT},
          (NeededPriceDeltaPerUnit / AvgSalesPrice)
      )
    ELSE 0
  END AS SuggestedPriceLiftPct,
  CASE
    WHEN AvgSalesPrice > 0 THEN
      AvgSalesPrice * (1.0 + MIN({MAX_LIFT_PCT},
                                 (NeededPriceDeltaPerUnit / AvgSalesPrice)))
    ELSE AvgSalesPrice
  END AS SuggestedNewAvgPrice
FROM calc
WHERE UpsideDollars > 0
ORDER BY UpsideDollars DESC, CurrentMargin ASC;
"""

conn.executescript(sql)

# preview + export
Path("outputs").mkdir(exist_ok=True)
preview = pd.read_sql("SELECT * FROM brand_pricing_opportunities LIMIT 20;", conn)
display(preview)

pd.read_sql("SELECT * FROM brand_pricing_opportunities;", conn) \
  .to_csv("outputs/brand_pricing_opportunities.csv", index=False)

conn.close()
print("brand_pricing_opportunities created and exported to outputs/brand_pricing_opportunities.csv")

,VendorNumber,VendorName,Brand,TotalSalesQuantity,TotalSalesDollars,TotalPurchaseDollars,FreightCost,AvgSalesPrice,CurrentMargin,TargetMargin,UpsideDollars,NeededPriceDeltaPerUnit,SuggestedPriceLiftPct,SuggestedNewAvgPrice
0,3960,DIAGEO NORTH AMERICA INC,5361,39,38.61,50959796.85,257032.07,0.990000,-1.326516e+06,0.35,7.879508e+07,2.020387e+06,0.15,1.138500
1,3960,DIAGEO NORTH AMERICA INC,6129,29,57.71,50959796.85,257032.07,1.990000,-8.874852e+05,0.35,7.879506e+07,2.717071e+06,0.15,2.288500
2,3960,DIAGEO NORTH AMERICA INC,3697,30,59.70,50959796.85,257032.07,1.990000,-8.579023e+05,0.35,7.879506e+07,2.626502e+06,0.15,2.288500
3,3960,DIAGEO NORTH AMERICA INC,7851,85,84.15,50959796.85,257032.07,0.990000,-6.086363e+05,0.35,7.879504e+07,9.270004e+05,0.15,1.138500
4,3960,DIAGEO NORTH AMERICA INC,4173,44,85.56,50959796.85,257032.07,2.382857,-5.986062e+05,0.35,7.879504e+07,1.790796e+06,0.15,2.740286
5,3960,DIAGEO NORTH AMERICA INC,3705,97,96.03,50959796.85,257032.07,0.990000,-5.333410e+05,0.35,7.879503e+07,8.123198e+05,0.15,1.138500
6,3960,DIAGEO NORTH AMERICA INC,7902,102,100.98,50959796.85,257032.07,0.990000,-5.071968e+05,0.35,7.879502e+07,7.725002e+05,0.15,1.138500
7,3960,DIAGEO NORTH AMERICA INC,8801,108,106.92,50959796.85,257032.07,0.990000,-4.790191e+05,0.35,7.879501e+07,7.295835e+05,0.15,1.138500
8,3960,DIAGEO NORTH AMERICA INC,3775,120,118.80,50959796.85,257032.07,0.990000,-4.311171e+05,0.35,7.879500e+07,6.566250e+05,0.15,1.138500
9,3960,DIAGEO NORTH AMERICA INC,6127,61,121.39,50959796.85,257032.07,1.990000,-4.219187e+05,0.35,7.879500e+07,1.291721e+06,0.15,2.288500
10,3960,DIAGEO NORTH AMERICA INC,3213,12,155.88,50959796.85,257032.07,12.990000,-3.285647e+05,0.35,7.879497e+07,6.566247e+06,0.15,14.938500
11,3960,DIAGEO NORTH AMERICA INC,371,16,159.84,50959796.85,257032.07,9.990000,-3.204246e+05,0.35,7.879496e+07,4.924685e+06,0.15,11.488500
12,3960,DIAGEO NORTH AMERICA INC,900,11,164.89,50959796.85,257032.07,14.990000,-3.106111e+05,0.35,7.879496e+07,7.163178e+06,0.15,17.238500
13,3960,DIAGEO NORTH AMERICA INC,8495,171,169.29,50959796.85,257032.07,0.990000,-3.025380e+05,0.35,7.879495e+07,4.607892e+05,0.15,1.138500
14,3960,DIAGEO NORTH AMERICA INC,524,11,170.39,50959796.85,257032.07,15.490000,-3.005849e+05,0.35,7.879495e+07,7.163177e+06,0.15,17.813500
15,3960,DIAGEO NORTH AMERICA INC,3719,18,170.82,50959796.85,257032.07,9.490000,-2.998282e+05,0.35,7.879495e+07,4.377497e+06,0.15,10.913500
16,3960,DIAGEO NORTH AMERICA INC,2968,11,175.89,50959796.85,257032.07,15.990000,-2.911857e+05,0.35,7.879495e+07,7.163177e+06,0.15,18.388500
17,3960,DIAGEO NORTH AMERICA INC,187,12,179.88,50959796.85,257032.07,14.990000,-2.847268e+05,0.35,7.879494e+07,6.566245e+06,0.15,17.238500
18,3960,DIAGEO NORTH AMERICA INC,1304,12,179.88,50959796.85,257032.07,14.990000,-2.847268e+05,0.35,7.879494e+07,6.566245e+06,0.15,17.238500
19,3960,DIAGEO NORTH AMERICA INC,4398,21,188.79,50959796.85,257032.07,8.990000,-2.712889e+05,0.35,7.879493e+07,3.752140e+06,0.15,10.338500

brand_pricing_opportunities created and exported to outputs/brand_pricing_opportunities.csv

In [20]:
import sqlite3, pandas as pd
from pathlib import Path

# ---- tweak thresholds here if you like ----
LOW_MARGIN_PCT      = 0.20   # flag if profit margin < 20%
HIGH_FREIGHT_SHARE  = 0.08   # flag if freight / sales dollars > 8%
LOW_STOCK_TURN      = 0.50   # flag if sales qty / purchase qty < 0.5
MIN_SALES_DOLLARS   = 1000   # ignore tiny vendors

conn = sqlite3.connect("inventory.db")

sql = f"""
DROP TABLE IF EXISTS vendor_risk_flags;

CREATE TABLE vendor_risk_flags AS
WITH base AS (
  SELECT
    VendorNumber,
    VendorName,
    SUM(TotalSalesDollars)      AS TotalSalesDollars,
    SUM(TotalSalesQuantity)     AS TotalSalesQuantity,
    SUM(TotalPurchaseDollars)   AS TotalPurchaseDollars,
    SUM(FreightCost)            AS FreightCost
  FROM vendor_sales_summary
  GROUP BY VendorNumber, VendorName
),
kpi AS (
  SELECT
    *,
    CASE WHEN TotalSalesDollars>0
         THEN (TotalSalesDollars - TotalPurchaseDollars - FreightCost)*1.0 / TotalSalesDollars
         ELSE 0 END AS ProfitMargin,
    CASE WHEN TotalPurchaseDollars>0
         THEN TotalSalesDollars*1.0 / TotalPurchaseDollars
         ELSE 0 END AS SalesToPurchaseRatio,
    CASE WHEN TotalSalesDollars>0
         THEN FreightCost*1.0 / TotalSalesDollars
         ELSE 0 END AS FreightShare,
    CASE WHEN TotalPurchaseQuantity>0 THEN
         TotalSalesQuantity*1.0 / TotalPurchaseQuantity
         ELSE 0 END AS StockTurnover
  FROM (
    SELECT b.*,
           -- derive purchase qty from brand-level table by summing (when available)
           COALESCE((
             SELECT SUM(TotalPurchaseQuantity)
             FROM vendor_sales_summary v
             WHERE v.VendorNumber=b.VendorNumber
           ), 0) AS TotalPurchaseQuantity
    FROM base b
  )
)
SELECT
  VendorNumber,
  VendorName,
  TotalSalesDollars,
  TotalSalesQuantity,
  TotalPurchaseDollars,
  FreightCost,
  ROUND(ProfitMargin*100,2)        AS ProfitMarginPct,
  ROUND(FreightShare*100,2)        AS FreightSharePct,
  ROUND(SalesToPurchaseRatio,2)    AS SalesToPurchaseRatio,
  ROUND(StockTurnover,2)           AS StockTurnover,
  CASE WHEN ProfitMargin < {LOW_MARGIN_PCT} THEN 1 ELSE 0 END AS LowMarginVendor,
  CASE WHEN FreightShare > {HIGH_FREIGHT_SHARE} THEN 1 ELSE 0 END AS HighFreightShare,
  CASE WHEN (TotalSalesDollars - TotalPurchaseDollars - FreightCost) < 0 THEN 1 ELSE 0 END AS NegativeGrossProfit,
  CASE WHEN StockTurnover < {LOW_STOCK_TURN} THEN 1 ELSE 0 END AS LowStockTurnover
FROM kpi
WHERE TotalSalesDollars >= {MIN_SALES_DOLLARS}
ORDER BY ProfitMargin ASC, FreightShare DESC;
"""

conn.executescript(sql)

# preview + export
Path("outputs").mkdir(exist_ok=True)
preview = pd.read_sql("SELECT * FROM vendor_risk_flags LIMIT 20;", conn)
display(preview)

pd.read_sql("SELECT * FROM vendor_risk_flags;", conn) \
  .to_csv("outputs/vendor_risk_flags.csv", index=False)

conn.close()
print("vendor_risk_flags created and exported to outputs/vendor_risk_flags.csv")

,VendorNumber,VendorName,TotalSalesDollars,TotalSalesQuantity,TotalPurchaseDollars,FreightCost,ProfitMarginPct,FreightSharePct,SalesToPurchaseRatio,StockTurnover,LowMarginVendor,HighFreightShare,NegativeGrossProfit,LowStockTurnover
0,1587,VINEYARD BRANDS LLC,4.743840e+03,116,3.621343e+06,1.821027e+04,-76621.67,383.87,0.00,0.00,1,1,1,1
1,2000,SOUTHERN GLAZERS W&S OF NE,1.678734e+05,17463,3.366556e+07,1.711493e+05,-20056.09,101.95,0.00,0.00,1,1,1,1
2,10754,PERFECTA WINES,7.874471e+07,6514411,4.220799e+09,2.139679e+07,-5287.28,27.17,0.02,0.02,1,1,1,1
3,7749,R.P.IMPORTS INC,1.960958e+04,342,6.571904e+05,3.202500e+03,-3267.71,16.33,0.03,0.02,1,1,1,1
4,9165,ULTRA BEVERAGE COMPANY LLP,3.557937e+08,19779537,1.071381e+10,5.519236e+07,-2926.75,15.51,0.03,0.02,1,1,1,1
5,4425,MARTIGNETTI COMPANIES,1.467460e+09,90191068,3.775259e+10,1.963791e+08,-2486.03,13.38,0.04,0.03,1,1,1,1
6,1650,Circa Wines,1.127657e+05,6629,2.680923e+06,1.335411e+04,-2289.27,11.84,0.04,0.03,1,1,1,1
7,7153,PINE STATE TRADING CO,5.977999e+07,5581843,1.239112e+09,6.290389e+06,-1983.31,10.52,0.05,0.03,1,1,1,1
8,9552,M S WALKER INC,4.413303e+08,43698738,8.890819e+09,4.516363e+07,-1924.78,10.23,0.05,0.04,1,1,1,1
9,3951,HIGHLAND WINE MERCHANTS LLC,1.845440e+03,106,3.300192e+04,1.765800e+02,-1697.86,9.57,0.06,0.05,1,1,1,1
10,90047,CRUSH WINES,2.344679e+06,152241,3.762188e+07,1.909626e+05,-1512.71,8.14,0.06,0.04,1,1,1,1
11,90024,VINILANDIA USA,6.049911e+06,427212,9.440312e+07,4.820541e+05,-1468.37,7.97,0.06,0.04,1,0,1,1
12,653,STATE WINE & SPIRITS,2.911272e+07,2145209,3.242926e+08,1.699176e+06,-1019.76,5.84,0.09,0.07,1,0,1,1
13,3252,E & J GALLO WINERY,5.767365e+08,55516774,6.132514e+09,3.092149e+07,-968.67,5.36,0.09,0.06,1,0,1,1
14,2000,SOUTHERN WINE & SPIRITS NE,1.056285e+08,7936692,1.122185e+09,5.704977e+06,-967.79,5.40,0.09,0.06,1,0,1,1
15,9744,FREDERICK WILDMAN & SONS,9.623636e+06,674552,9.113391e+07,4.799916e+05,-851.97,4.99,0.11,0.08,1,0,1,1
16,1703,ALISA CARR BEVERAGES,5.004951e+04,449,4.543718e+05,2.236000e+03,-812.31,4.47,0.11,0.08,1,0,1,1
17,4692,KOBRAND CORPORATION,3.964402e+07,2550486,3.254663e+08,1.645088e+06,-725.12,4.15,0.12,0.09,1,0,1,1
18,5612,MILTONS DISTRIBUTING CO,2.917830e+03,277,2.371434e+04,1.229800e+02,-716.95,4.21,0.12,0.08,1,0,1,1
19,6280,UNCORKED,2.271660e+03,134,1.779786e+04,9.156000e+01,-687.50,4.03,0.13,0.09,1,0,1,1

vendor_risk_flags created and exported to outputs/vendor_risk_flags.csv

In [21]:
import sqlite3, pandas as pd
from pathlib import Path

conn = sqlite3.connect("inventory.db")

sql = """
DROP TABLE IF EXISTS spend_by_vendor;

CREATE TABLE spend_by_vendor AS
SELECT
  VendorNumber,
  VendorName,
  -- totals
  SUM(TotalSalesQuantity)    AS TotalSalesQuantity,
  SUM(TotalSalesDollars)     AS TotalSalesDollars,
  SUM(TotalPurchaseDollars)  AS TotalPurchaseDollars,
  SUM(FreightCost)           AS FreightCost,
  COUNT(DISTINCT Brand)      AS BrandCount,
  -- KPIs
  CASE WHEN SUM(TotalSalesDollars) > 0
       THEN (SUM(TotalSalesDollars) - SUM(TotalPurchaseDollars) - SUM(FreightCost))*1.0
       ELSE 0 END                         AS GrossProfit,
  CASE WHEN SUM(TotalSalesDollars) > 0
       THEN (SUM(TotalSalesDollars) - SUM(TotalPurchaseDollars) - SUM(FreightCost))
            *1.0 / SUM(TotalSalesDollars)
       ELSE 0 END                         AS ProfitMargin,
  CASE WHEN SUM(TotalPurchaseDollars) > 0
       THEN SUM(TotalSalesDollars)*1.0 / SUM(TotalPurchaseDollars)
       ELSE 0 END                         AS SalesToPurchaseRatio
FROM vendor_sales_summary
GROUP BY VendorNumber, VendorName
ORDER BY GrossProfit DESC;
"""

conn.executescript(sql)

# Preview + export
Path("outputs").mkdir(exist_ok=True)
preview = pd.read_sql("SELECT * FROM spend_by_vendor LIMIT 15;", conn)
display(preview)

pd.read_sql("SELECT * FROM spend_by_vendor;", conn)\
  .to_csv("outputs/spend_by_vendor.csv", index=False)

conn.close()
print("spend_by_vendor table created and outputs/spend_by_vendor.csv saved.")

,VendorNumber,VendorName,TotalSalesQuantity,TotalSalesDollars,TotalPurchaseDollars,FreightCost,BrandCount,GrossProfit,ProfitMargin,SalesToPurchaseRatio
0,10000,MAJESTIC FINE WINES,29001452,3.358213e+08,1.332534e+08,668328.42,38,2.018995e+08,0.601211,2.520170
1,8664,"STOLI GROUP,(USA) LLC",10175525,2.413716e+08,1.613251e+08,815957.56,44,7.923056e+07,0.328251,1.496182
2,2555,DISARONNO INTERNATIONAL LLC,3049903,7.584936e+07,1.256143e+07,64471.33,11,6.322346e+07,0.833540,6.038276
3,3089,SIDNEY FRANK IMPORTING CO,4099199,6.927749e+07,2.230682e+07,111144.15,13,4.685953e+07,0.676403,3.105665
4,1485,CASTLE BRANDS CORP.,3205940,7.066532e+07,4.366398e+07,220937.34,26,2.678040e+07,0.378975,1.618389
5,1273,CALEDONIA SPIRITS INC,226837,8.272655e+06,1.298024e+06,6598.85,5,6.968032e+06,0.842297,6.373270
6,9206,PHILLIPS PRODUCTS CO.,941109,1.437507e+07,9.480810e+06,48660.26,22,4.845596e+06,0.337083,1.516228
7,8320,SHAW ROSS INT L IMP LTD,1886372,2.579352e+07,2.187429e+07,110317.20,35,3.808916e+06,0.147669,1.179171
8,4466,AMERICAN VINTAGE BEVERAGE,267343,3.472786e+06,4.690718e+05,2381.73,3,3.001332e+06,0.864243,7.403526
9,4550,KLIN SPIRITS LLC,153156,3.277962e+06,4.139372e+05,2126.00,4,2.861899e+06,0.873073,7.918986
10,5270,MANGO BOTTLING INC,398447,3.623577e+06,8.180415e+05,4137.68,4,2.801397e+06,0.773103,4.429575
11,1655,FABRIZIA SPIRITS LLC,350855,5.319116e+06,2.867125e+06,14599.12,8,2.437392e+06,0.458233,1.855209
12,98450,Serralles Usa LLC,262323,4.609830e+06,2.196917e+06,11128.26,13,2.401785e+06,0.521014,2.098318
13,4380,CHARLES JACQUIN ET CIE INC,666205,7.026339e+06,4.614927e+06,23455.46,14,2.387957e+06,0.339858,1.522525
14,2496,DUGGANS DISTILLED PRODUCTS,141886,2.718987e+06,9.214825e+05,4696.35,5,1.792808e+06,0.659366,2.950666

spend_by_vendor table created and outputs/spend_by_vendor.csv saved.

In [23]:
import sqlite3
conn = sqlite3.connect("inventory.db")

sql = """
DROP TABLE IF EXISTS vendor_risk_flags;
CREATE TABLE vendor_risk_flags AS
SELECT
    VendorNumber,
    SUM(CASE WHEN TotalSalesQuantity      < 0 THEN 1 ELSE 0 END) AS neg_SalesQty,
    SUM(CASE WHEN TotalSalesDollars       < 0 THEN 1 ELSE 0 END) AS neg_SalesDol,
    SUM(CASE WHEN TotalPurchaseQuantity   < 0 THEN 1 ELSE 0 END) AS neg_PurchQty,
    SUM(CASE WHEN TotalPurchaseDollars    < 0 THEN 1 ELSE 0 END) AS neg_PurchDol,
    SUM(CASE WHEN FreightCost             < 0 THEN 1 ELSE 0 END) AS neg_Freight
FROM vendor_sales_summary
GROUP BY VendorNumber;
"""
conn.executescript(sql)
conn.close()
print("vendor_risk_flags created.")

vendor_risk_flags created.

In [27]:
import sqlite3, pandas as pd
from pathlib import Path

TARGET_MARGIN = 0.35  # change if your target margin is different

conn = sqlite3.connect("inventory.db")

sql = f"""
-- Recreate pricing opportunities with canonical column names
DROP TABLE IF EXISTS brand_pricing_opportunities;
CREATE TABLE brand_pricing_opportunities AS
SELECT
  s.VendorNumber,
  s.VendorName,
  s.Brand,
  s.TotalSalesQuantity,
  s.TotalSalesDollars,
  s.TotalPurchaseDollars,
  s.FreightCost,
  s.AvgSalesPrice,
  CASE 
    WHEN s.TotalSalesDollars > 0 
    THEN (s.TotalSalesDollars - s.TotalPurchaseDollars - s.FreightCost) * 1.0 / s.TotalSalesDollars
    ELSE 0
  END                         AS CurrentMargin,
  CAST({TARGET_MARGIN} AS REAL) AS TargetMargin,
  CASE 
    WHEN s.TotalSalesDollars > 0 
     AND (s.TotalSalesDollars - s.TotalPurchaseDollars - s.FreightCost) * 1.0 / s.TotalSalesDollars < {TARGET_MARGIN}
    THEN (s.TotalPurchaseDollars + s.FreightCost) * 1.0 / (1.0 - {TARGET_MARGIN})
    ELSE NULL
  END                         AS RequiredSalesDollars,
  CASE 
    WHEN s.TotalSalesDollars > 0 
     AND (s.TotalSalesDollars - s.TotalPurchaseDollars - s.FreightCost) * 1.0 / s.TotalSalesDollars < {TARGET_MARGIN}
    THEN ( (s.TotalPurchaseDollars + s.FreightCost) * 1.0 / (1.0 - {TARGET_MARGIN}) ) - s.TotalSalesDollars
    ELSE NULL
  END                         AS UpsideDollars,
  CASE 
    WHEN s.TotalSalesQuantity > 0
     AND s.TotalSalesDollars > 0
     AND (s.TotalSalesDollars - s.TotalPurchaseDollars - s.FreightCost) * 1.0 / s.TotalSalesDollars < {TARGET_MARGIN}
    THEN ( ( (s.TotalPurchaseDollars + s.FreightCost) * 1.0 / (1.0 - {TARGET_MARGIN}) ) - s.TotalSalesDollars ) * 1.0 / s.TotalSalesQuantity
    ELSE NULL
  END                         AS NeededPriceDeltaPerUnit
FROM vendor_sales_summary s
;

-- Recreate final tables
DROP TABLE IF EXISTS final_vendor;
DROP TABLE IF EXISTS final_brand;

-- final_vendor: one row per vendor
CREATE TABLE final_vendor AS
SELECT
  v.VendorNumber,
  v.VendorName,
  t.TotalSalesDollars,
  t.TotalSalesQuantity,
  t.TotalPurchaseDollars,
  t.FreightCost,
  v.GrossProfit,
  v.ProfitMargin,
  COALESCE(v.TotalSalesDol, 0)  AS TotalSalesDol_in_summary,
  COALESCE(s.BrandCount, 0)     AS BrandCount,
  COALESCE(r.neg_SalesQty, 0)   AS neg_SalesQty,
  COALESCE(r.neg_SalesDol, 0)   AS neg_SalesDol,
  COALESCE(r.neg_PurchQty, 0)   AS neg_PurchQty,
  COALESCE(r.neg_PurchDol, 0)   AS neg_PurchDol,
  COALESCE(r.neg_Freight, 0)    AS neg_Freight
FROM vendor_summary_by_vendor v
LEFT JOIN (
    SELECT
      VendorNumber,
      SUM(TotalSalesQuantity)   AS TotalSalesQuantity,
      SUM(TotalSalesDollars)    AS TotalSalesDollars,
      SUM(TotalPurchaseDollars) AS TotalPurchaseDollars,
      SUM(FreightCost)          AS FreightCost
    FROM vendor_sales_summary
    GROUP BY VendorNumber
) t
  ON t.VendorNumber = v.VendorNumber
LEFT JOIN spend_by_vendor   s ON s.VendorNumber = v.VendorNumber
LEFT JOIN vendor_risk_flags r ON r.VendorNumber = v.VendorNumber
;

-- final_brand: vendor+brand with pricing opportunity fields
CREATE TABLE final_brand AS
SELECT
  s.VendorNumber,
  s.VendorName,
  s.Brand,
  s.TotalSalesQuantity,
  s.TotalSalesDollars,
  s.TotalPurchaseDollars,
  s.FreightCost,
  s.GrossProfit,
  s.ProfitMargin         AS CurrentMargin,
  b.TargetMargin         AS TargetMargin,
  b.RequiredSalesDollars,
  b.UpsideDollars,
  b.NeededPriceDeltaPerUnit
FROM vendor_sales_summary s
LEFT JOIN brand_pricing_opportunities b
  ON b.VendorNumber = s.VendorNumber
 AND b.Brand        = s.Brand
;
"""
conn.executescript(sql)

# preview + export
Path("outputs").mkdir(exist_ok=True)

final_vendor_preview = pd.read_sql(
    "SELECT * FROM final_vendor ORDER BY GrossProfit DESC LIMIT 10;", conn)
final_brand_preview = pd.read_sql(
    "SELECT * FROM final_brand ORDER BY COALESCE(UpsideDollars,0) DESC LIMIT 10;", conn)

display(final_vendor_preview)
display(final_brand_preview)

pd.read_sql("SELECT * FROM final_vendor;", conn).to_csv("outputs/final_vendor.csv", index=False)
pd.read_sql("SELECT * FROM final_brand;",  conn).to_csv("outputs/final_brand.csv",  index=False)

conn.close()
print("Built + exported: outputs/final_vendor.csv and outputs/final_brand.csv")

,VendorNumber,VendorName,TotalSalesDollars,TotalSalesQuantity,TotalPurchaseDollars,FreightCost,GrossProfit,ProfitMargin,TotalSalesDol_in_summary,BrandCount,neg_SalesQty,neg_SalesDol,neg_PurchQty,neg_PurchDol,neg_Freight
0,10000,MAJESTIC FINE WINES,3.358213e+08,29001452,1.332534e+08,668328.42,2.018995e+08,60.121127,3.358213e+08,38,0,0,0,0,0
1,8664,"STOLI GROUP,(USA) LLC",2.413716e+08,10175525,1.613251e+08,815957.56,7.923056e+07,32.825140,2.413716e+08,44,0,0,0,0,0
2,2555,DISARONNO INTERNATIONAL LLC,7.584936e+07,3049903,1.256143e+07,64471.33,6.322346e+07,83.353983,7.584936e+07,11,0,0,0,0,0
3,3089,SIDNEY FRANK IMPORTING CO,6.927749e+07,4099199,2.230682e+07,111144.15,4.685953e+07,67.640340,6.927749e+07,13,0,0,0,0,0
4,1485,CASTLE BRANDS CORP.,7.066532e+07,3205940,4.366398e+07,220937.34,2.678040e+07,37.897517,7.066532e+07,26,0,0,0,0,0
5,1273,CALEDONIA SPIRITS INC,8.272655e+06,226837,1.298024e+06,6598.85,6.968032e+06,84.229701,8.272655e+06,5,0,0,0,0,0
6,9206,PHILLIPS PRODUCTS CO.,1.437507e+07,941109,9.480810e+06,48660.26,4.845596e+06,33.708338,1.437507e+07,22,0,0,0,0,0
7,8320,SHAW ROSS INT L IMP LTD,2.579352e+07,1886372,2.187429e+07,110317.20,3.808916e+06,14.766950,2.579352e+07,35,0,0,0,0,0
8,4466,AMERICAN VINTAGE BEVERAGE,3.472786e+06,267343,4.690718e+05,2381.73,3.001332e+06,86.424340,3.472786e+06,3,0,0,0,0,0
9,4550,KLIN SPIRITS LLC,3.277962e+06,153156,4.139372e+05,2126.00,2.861899e+06,87.307263,3.277962e+06,4,0,0,0,0,0

,VendorNumber,VendorName,Brand,TotalSalesQuantity,TotalSalesDollars,TotalPurchaseDollars,FreightCost,GrossProfit,CurrentMargin,TargetMargin,RequiredSalesDollars,UpsideDollars,NeededPriceDeltaPerUnit
0,3960,DIAGEO NORTH AMERICA INC,2626,2,3.98,50959796.85,257032.07,-51216824.94,-1.286855e+09,0.35,7.879512e+07,7.879512e+07,3.939756e+07
1,3960,DIAGEO NORTH AMERICA INC,8729,5,4.95,50959796.85,257032.07,-51216823.97,-1.034683e+09,0.35,7.879512e+07,7.879512e+07,1.575902e+07
2,3960,DIAGEO NORTH AMERICA INC,819,1,11.99,50959796.85,257032.07,-51216816.93,-4.271628e+08,0.35,7.879512e+07,7.879511e+07,7.879511e+07
3,3960,DIAGEO NORTH AMERICA INC,5104,1,24.99,50959796.85,257032.07,-51216803.93,-2.049492e+08,0.35,7.879512e+07,7.879510e+07,7.879510e+07
4,3960,DIAGEO NORTH AMERICA INC,241,2,29.98,50959796.85,257032.07,-51216798.94,-1.708366e+08,0.35,7.879512e+07,7.879509e+07,3.939755e+07
5,3960,DIAGEO NORTH AMERICA INC,1761,1,34.99,50959796.85,257032.07,-51216793.93,-1.463755e+08,0.35,7.879512e+07,7.879509e+07,7.879509e+07
6,3960,DIAGEO NORTH AMERICA INC,5361,39,38.61,50959796.85,257032.07,-51216790.31,-1.326516e+08,0.35,7.879512e+07,7.879508e+07,2.020387e+06
7,3960,DIAGEO NORTH AMERICA INC,6129,29,57.71,50959796.85,257032.07,-51216771.21,-8.874852e+07,0.35,7.879512e+07,7.879506e+07,2.717071e+06
8,3960,DIAGEO NORTH AMERICA INC,3697,30,59.70,50959796.85,257032.07,-51216769.22,-8.579023e+07,0.35,7.879512e+07,7.879506e+07,2.626502e+06
9,3960,DIAGEO NORTH AMERICA INC,648,3,83.97,50959796.85,257032.07,-51216744.95,-6.099410e+07,0.35,7.879512e+07,7.879504e+07,2.626501e+07

Built + exported: outputs/final_vendor.csv and outputs/final_brand.csv

In [29]:
import pandas as pd
fv = pd.read_csv("outputs/final_vendor.csv")
fb = pd.read_csv("outputs/final_brand.csv")
display(fv.head())
display(fb.head())

,VendorNumber,VendorName,TotalSalesDollars,TotalSalesQuantity,TotalPurchaseDollars,FreightCost,GrossProfit,ProfitMargin,TotalSalesDol_in_summary,BrandCount,neg_SalesQty,neg_SalesDol,neg_PurchQty,neg_PurchDol,neg_Freight
0,2,"IRA GOLDMAN AND WILLIAMS, LLP",2555.04,96,11261.76,54.16,-8760.88,-342.886217,2555.04,2,0,0,0,0,0
1,60,ADAMBA IMPORTS INTL INC,1353669.51,79549,153540.50,735.04,1199393.97,88.603161,1353669.51,2,0,0,0,0,0
2,105,ALTAMAR BRANDS LLC,68006.30,1370,23412.40,124.78,44469.12,65.389707,68006.30,2,0,0,0,0,0
3,200,AMERICAN SPIRITS EXCHANGE,2900.24,176,2410.32,12.38,477.54,16.465534,2900.24,2,0,0,0,0,0
4,287,APPOLO VINEYARDS LLC,1078.27,73,4799.40,24.56,-3745.69,-347.379599,1078.27,2,0,0,0,0,0

,VendorNumber,VendorName,Brand,TotalSalesQuantity,TotalSalesDollars,TotalPurchaseDollars,FreightCost,GrossProfit,CurrentMargin,TargetMargin,RequiredSalesDollars,UpsideDollars,NeededPriceDeltaPerUnit
0,2,"IRA GOLDMAN AND WILLIAMS, LLP",90085,13,480.87,5630.88,27.08,-5177.09,-1076.609063,0.35,8704.553846,8223.683846,632.591065
1,2,"IRA GOLDMAN AND WILLIAMS, LLP",90609,83,2074.17,5630.88,27.08,-3583.79,-172.781884,0.35,8704.553846,6630.383846,79.884143
2,60,ADAMBA IMPORTS INTL INC,771,137,2053.63,76770.25,367.52,-75084.14,-3656.166885,0.35,118673.492308,116619.862308,851.239871
3,60,ADAMBA IMPORTS INTL INC,3979,79412,1351615.88,76770.25,367.52,1274478.11,94.292922,0.35,NaN,NaN,NaN
4,105,ALTAMAR BRANDS LLC,2529,24,719.76,11706.20,62.39,-11048.83,-1535.071413,0.35,18105.523077,17385.763077,724.406795

In [33]:
import sqlite3, pandas as pd

# 1) open the DB
conn = sqlite3.connect("inventory.db")

# 2) run SQL and show results
fv = pd.read_sql("SELECT * FROM final_vendor LIMIT 20;", conn)
fb = pd.read_sql("SELECT * FROM final_brand  LIMIT 20;", conn)

display(fv)
display(fb)

# (handy helpers)
cols_vendor = pd.read_sql("PRAGMA table_info(final_vendor);", conn)
cols_brand  = pd.read_sql("PRAGMA table_info(final_brand);",  conn)
display(cols_vendor)  # column names & types
display(cols_brand)

# 3) close when done
conn.close()

,VendorNumber,VendorName,TotalSalesDollars,TotalSalesQuantity,TotalPurchaseDollars,FreightCost,GrossProfit,ProfitMargin,TotalSalesDol_in_summary,BrandCount,neg_SalesQty,neg_SalesDol,neg_PurchQty,neg_PurchDol,neg_Freight
0,2,"IRA GOLDMAN AND WILLIAMS, LLP",2.555040e+03,96,1.126176e+04,54.16,-8.760880e+03,-342.886217,2.555040e+03,2,0,0,0,0,0
1,60,ADAMBA IMPORTS INTL INC,1.353670e+06,79549,1.535405e+05,735.04,1.199394e+06,88.603161,1.353670e+06,2,0,0,0,0,0
2,105,ALTAMAR BRANDS LLC,6.800630e+04,1370,2.341240e+04,124.78,4.446912e+04,65.389707,6.800630e+04,2,0,0,0,0,0
3,200,AMERICAN SPIRITS EXCHANGE,2.900240e+03,176,2.410320e+03,12.38,4.775400e+02,16.465534,2.900240e+03,2,0,0,0,0,0
4,287,APPOLO VINEYARDS LLC,1.078270e+03,73,4.799400e+03,24.56,-3.745690e+03,-347.379599,1.078270e+03,2,0,0,0,0,0
5,388,ATLANTIC IMPORTING COMPANY,3.910032e+05,13380,1.233490e+05,635.22,2.670190e+05,68.290751,3.910032e+05,3,0,0,0,0,0
6,480,BACARDI USA INC,1.228343e+09,54791446,2.890398e+09,14642948.28,-1.676698e+09,-136.500814,1.228343e+09,164,0,0,0,0,0
7,516,BANFI PRODUCTS CORP,3.914364e+07,3452866,2.117527e+08,1106353.30,-1.737154e+08,-443.789612,3.914364e+07,130,0,0,0,0,0
8,653,STATE WINE & SPIRITS,2.911272e+07,2145209,3.242926e+08,1699175.76,-2.968790e+08,-1019.757153,2.911272e+07,212,0,0,0,0,0
9,660,SAZERAC NORTH AMERICA INC.,2.511392e+08,24470876,2.759622e+08,1398721.74,-2.622180e+07,-10.441145,2.511392e+08,78,0,0,0,0,0
10,1003,BRONCO WINE COMPANY,1.194932e+04,1568,1.243140e+04,63.18,-5.452600e+02,-4.563105,1.194932e+04,6,0,0,0,0,0
11,1128,BROWN-FORMAN CORP,9.607805e+08,38048527,1.718238e+09,8712413.36,-7.661699e+08,-79.744529,9.607805e+08,127,0,0,0,0,0
12,1189,BULLY BOY DISTILLERS,1.294178e+06,46600,7.075693e+05,3656.34,5.829523e+05,45.044216,1.294178e+06,6,0,0,0,0,0
13,1265,BLACK ROCK SPIRITS LLC,4.848060e+03,194,1.152100e+03,5.79,3.690170e+03,76.116426,4.848060e+03,1,0,0,0,0,0
14,1273,CALEDONIA SPIRITS INC,8.272655e+06,226837,1.298024e+06,6598.85,6.968032e+06,84.229701,8.272655e+06,5,0,0,0,0,0
15,1392,CONSTELLATION BRANDS INC,9.443660e+08,85085764,7.054985e+09,36026632.47,-6.146645e+09,-650.875353,9.443660e+08,453,0,0,0,0,0
16,1439,CAPSTONE INTERNATIONAL,7.596000e+01,4,5.464000e+01,0.27,2.105000e+01,27.711954,7.596000e+01,1,0,0,0,0,0
17,1485,CASTLE BRANDS CORP.,7.066532e+07,3205940,4.366398e+07,220937.34,2.678040e+07,37.897517,7.066532e+07,26,0,0,0,0,0
18,1587,VINEYARD BRANDS LLC,3.617103e+07,3415842,8.811935e+07,443116.57,-5.239143e+07,-144.843598,3.617103e+07,3,0,0,0,0,0
19,1587,VINEYARD BRANDS LLC,3.617103e+07,3415842,8.811935e+07,443116.57,-5.239143e+07,-144.843598,3.617103e+07,70,0,0,0,0,0

,VendorNumber,VendorName,Brand,TotalSalesQuantity,TotalSalesDollars,TotalPurchaseDollars,FreightCost,GrossProfit,CurrentMargin,TargetMargin,RequiredSalesDollars,UpsideDollars,NeededPriceDeltaPerUnit
0,2,"IRA GOLDMAN AND WILLIAMS, LLP",90085,13,4.808700e+02,5630.88,27.08,-5.177090e+03,-1.076609e+03,0.35,8.704554e+03,8.223684e+03,6.325911e+02
1,2,"IRA GOLDMAN AND WILLIAMS, LLP",90609,83,2.074170e+03,5630.88,27.08,-3.583790e+03,-1.727819e+02,0.35,8.704554e+03,6.630384e+03,7.988414e+01
2,60,ADAMBA IMPORTS INTL INC,771,137,2.053630e+03,76770.25,367.52,-7.508414e+04,-3.656167e+03,0.35,1.186735e+05,1.166199e+05,8.512399e+02
3,60,ADAMBA IMPORTS INTL INC,3979,79412,1.351616e+06,76770.25,367.52,1.274478e+06,9.429292e+01,0.35,NaN,NaN,NaN
4,105,ALTAMAR BRANDS LLC,2529,24,7.197600e+02,11706.20,62.39,-1.104883e+04,-1.535071e+03,0.35,1.810552e+04,1.738576e+04,7.244068e+02
5,105,ALTAMAR BRANDS LLC,8412,1346,6.728654e+04,11706.20,62.39,5.551795e+04,8.250974e+01,0.35,NaN,NaN,NaN
6,200,AMERICAN SPIRITS EXCHANGE,19715,38,4.176200e+02,1205.16,6.19,-7.937300e+02,-1.900603e+02,0.35,1.863615e+03,1.445995e+03,3.805251e+01
7,200,AMERICAN SPIRITS EXCHANGE,20789,138,2.482620e+03,1205.16,6.19,1.271270e+03,5.120679e+01,0.35,NaN,NaN,NaN
8,287,APPOLO VINEYARDS LLC,24921,33,4.901700e+02,2399.70,12.28,-1.921810e+03,-3.920701e+02,0.35,3.710738e+03,3.220568e+03,9.759298e+01
9,287,APPOLO VINEYARDS LLC,24922,40,5.881000e+02,2399.70,12.28,-1.823880e+03,-3.101309e+02,0.35,3.710738e+03,3.122638e+03,7.806596e+01
10,388,ATLANTIC IMPORTING COMPANY,2034,13214,3.803899e+05,41116.32,211.74,3.390618e+05,8.913534e+01,0.35,NaN,NaN,NaN
11,388,ATLANTIC IMPORTING COMPANY,2119,99,8.509010e+03,41116.32,211.74,-3.281905e+04,-3.856976e+02,0.35,6.358163e+04,5.507262e+04,5.562891e+02
12,388,ATLANTIC IMPORTING COMPANY,7241,67,2.104330e+03,41116.32,211.74,-3.922373e+04,-1.863953e+03,0.35,6.358163e+04,6.147730e+04,9.175717e+02
13,480,BACARDI USA INC,126,4245559,1.273649e+08,17624378.72,89286.27,1.096512e+08,8.609219e+01,0.35,NaN,NaN,NaN
14,480,BACARDI USA INC,128,4,1.299600e+02,17624378.72,89286.27,-1.771354e+07,-1.362999e+07,0.35,2.725179e+07,2.725166e+07,6.812916e+06
15,480,BACARDI USA INC,129,10,3.199000e+02,17624378.72,89286.27,-1.771335e+07,-5.537151e+06,0.35,2.725179e+07,2.725147e+07,2.725147e+06
16,480,BACARDI USA INC,201,46,8.965400e+02,17624378.72,89286.27,-1.771277e+07,-1.975681e+06,0.35,2.725179e+07,2.725090e+07,5.924108e+05
17,480,BACARDI USA INC,278,690,1.997310e+04,17624378.72,89286.27,-1.769369e+07,-8.858761e+04,0.35,2.725179e+07,2.723182e+07,3.946640e+04
18,480,BACARDI USA INC,443,250956,8.917994e+06,17624378.72,89286.27,-8.795671e+06,-9.862835e+01,0.35,2.725179e+07,1.833380e+07,7.305583e+01
19,480,BACARDI USA INC,508,1987979,2.712792e+07,17624378.72,89286.27,9.414260e+06,3.470321e+01,0.35,2.725179e+07,1.238676e+05,6.230830e-02

    cid                      name type  notnull dflt_value  pk
0     0              VendorNumber  INT        0       None   0
1     1                VendorName             0       None   0
2     2         TotalSalesDollars             0       None   0
3     3        TotalSalesQuantity             0       None   0
4     4      TotalPurchaseDollars             0       None   0
5     5               FreightCost             0       None   0
6     6               GrossProfit             0       None   0
7     7              ProfitMargin             0       None   0
8     8  TotalSalesDol_in_summary             0       None   0
9     9                BrandCount             0       None   0
10   10              neg_SalesQty             0       None   0
11   11              neg_SalesDol             0       None   0
12   12              neg_PurchQty             0       None   0
13   13              neg_PurchDol             0       None   0
14   14               neg_Freight             0       None   0

    cid                     name  type  notnull dflt_value  pk
0     0             VendorNumber   INT        0       None   0
1     1               VendorName              0       None   0
2     2                    Brand              0       None   0
3     3       TotalSalesQuantity              0       None   0
4     4        TotalSalesDollars              0       None   0
5     5     TotalPurchaseDollars              0       None   0
6     6              FreightCost              0       None   0
7     7              GrossProfit              0       None   0
8     8            CurrentMargin              0       None   0
9     9             TargetMargin  REAL        0       None   0
10   10     RequiredSalesDollars              0       None   0
11   11            UpsideDollars              0       None   0
12   12  NeededPriceDeltaPerUnit              0       None   0

In [34]:
import sqlite3
conn = sqlite3.connect("inventory.db")
conn.executescript("""
DROP TABLE IF EXISTS final_all;

CREATE TABLE final_all AS
SELECT
  'vendor' AS Level,
  VendorNumber, VendorName, NULL AS Brand,
  TotalSalesDollars, TotalSalesQuantity, TotalPurchaseDollars, FreightCost,
  GrossProfit, ProfitMargin, BrandCount,
  NULL AS TargetMargin, NULL AS RequiredSalesDollars, NULL AS UpsideDollars, NULL AS NeededPriceDeltaPerUnit
FROM final_vendor

UNION ALL

SELECT
  'brand' AS Level,
  VendorNumber, VendorName, Brand,
  TotalSalesDollars, TotalSalesQuantity, TotalPurchaseDollars, FreightCost,
  GrossProfit, CurrentMargin AS ProfitMargin, NULL AS BrandCount,
  TargetMargin, RequiredSalesDollars, UpsideDollars, NeededPriceDeltaPerUnit
FROM final_brand;
""")
conn.close()

In [35]:
import pandas as pd, sqlite3
conn = sqlite3.connect("inventory.db")
pd.read_sql("SELECT * FROM final_all;", conn).to_csv("outputs/final_all.csv", index=False)
conn.close()